In [38]:
import pandas as pd

In [92]:
vix = pd.read_csv('VIXCLS.csv')

In [95]:
vix_ready = vix.copy()
vix_ready['observation_date'] = pd.to_datetime(vix_ready['observation_date'])
vix_ready.rename(columns={'observation_date': 'date', 'VIXCLS': 'vix_close_price'}, inplace=True)

In [96]:
fed_rate = pd.read_csv('fed_rate_changes_2020_2022.csv')

In [98]:
fed_rate['observation_date'] = pd.to_datetime(fed_rate['observation_date'])

fed_ready = fed_rate[['observation_date', 'DFEDTARU']].rename(
    columns={'observation_date': 'date', 'DFEDTARU': 'Fed_Rate'}
)

In [39]:
sofr = pd.read_csv('sofr_2020_2022.csv')

In [41]:
sofr.head()

,Effective Date,Rate Type,Rate (%),1st Percentile (%),25th Percentile (%),75th Percentile (%),99th Percentile (%),Volume ($Billions),Target Rate From (%),Target Rate To (%),Intra Day - Low (%),Intra Day - High (%),Standard Deviation (%),30-Day Average SOFR,90-Day Average SOFR,180-Day Average SOFR,SOFR Index,Revision Indicator (Y/N),Footnote ID
0,12/30/2022,SOFR,4.3,4.20,4.26,4.33,4.48,1004.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,12/29/2022,SOFR,4.3,4.20,4.26,4.32,4.45,1037.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,12/28/2022,SOFR,4.3,4.21,4.27,4.32,4.45,1005.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,12/27/2022,SOFR,4.3,4.15,4.27,4.32,4.40,1048.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,12/23/2022,SOFR,4.3,4.21,4.26,4.31,4.38,991.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
sofr_ready = sofr[['Effective Date', 'Rate (%)']].copy()
sofr_ready['Effective Date'] = pd.to_datetime(sofr_ready['Effective Date'])
sofr_ready.rename(columns={'Effective Date': 'date', 'Rate (%)': 'sofr_rate'}, inplace=True)

In [51]:
sofr_ready.head()

        date  sofr_rate
0 2022-12-30        4.3
1 2022-12-29        4.3
2 2022-12-28        4.3
3 2022-12-27        4.3
4 2022-12-23        4.3

In [78]:
news = pd.read_csv('news_data_appl&amzn.csv')
news_ready = news.copy()
news_ready['date'] = pd.to_datetime(news_ready['date'])
news_ready.rename(columns={'date': 'date', 'ticker': 'stock_name'}, inplace=True)

In [79]:
news_ready.head()

        date stock_name  NewsCount  NewsTone
0 2020-01-01       AAPL        268  0.003521
1 2020-01-01       AMZN        240 -0.016863
2 2020-01-02       AAPL        513  0.006356
3 2020-01-02       AMZN        484 -0.005955
4 2020-01-03       AAPL        733  0.006926

In [4]:
unemployment = pd.read_csv('unemployment.csv')

In [58]:
unemployment_ready = unemployment.copy()
unemployment_ready['unemp_observation_date'] = pd.to_datetime(unemployment_ready['unemp_observation_date'])
unemployment_ready.rename(columns={'unemp_UNEMPLOY': 'unemployment', 'unemp_observation_date': 'date'}, inplace=True)

In [59]:
unemployment_ready.head()

        date  unemployment
0 2020-01-01          5869
1 2020-02-01          5753
2 2020-03-01          7206
3 2020-04-01         23084
4 2020-05-01         20929

In [6]:
fomc = pd.read_csv('fomc_meetings_2020_2022.csv')

In [61]:
fomc_ready = fomc[['date', 'fomc_raw_date_text']].copy()

fomc_ready['date'] = pd.to_datetime(fomc_ready['date'])

# rule out cancelled meetings
fomc_active = fomc_ready[~fomc_ready['fomc_raw_date_text'].str.contains('cancelled', case=False, na=False)].copy()

fomc_dates_day1 = fomc_active['date']
fomc_dates_day2 = fomc_active['date'] + pd.Timedelta(days=1)

# Combine the two days into a single list of unique dates
all_fomc_dates = pd.concat([fomc_dates_day1, fomc_dates_day2]).unique()

# Convert to a set for easy lookup
fomc_date_set = set(pd.to_datetime(all_fomc_dates))

In [64]:
fomc_active.head()

        date fomc_raw_date_text
0 2020-01-28              28-29
2 2020-04-28              28-29
3 2020-06-09               9-10
4 2020-07-28              28-29
5 2020-09-15              15-16

In [8]:
amzn_price = pd.read_csv('Amazon_stock_price_2020_2022 - Sheet1.csv')

In [70]:
amzn_ready = amzn_price.copy()

amzn_ready.columns = [col.split('_')[-1] if '_' in col else col for col in amzn_ready.columns]

amzn_ready['Date'] = pd.to_datetime(amzn_ready['Date'])
amzn_ready = amzn_ready.sort_values('Date', ascending=True).reset_index(drop=True)

amzn_ready['Volume'] = amzn_ready['Volume'].astype(str).str.replace(',', '').astype(float)

amzn_ready['Stock_name'] = 'AMZN'
print(amzn_ready.head())

        Date   Open   High    Low  Close  Adj Close      Volume Stock_name
0 2020-01-02  93.75  94.90  93.21  94.90      94.90  80580000.0       AMZN
1 2020-01-03  93.22  94.31  93.22  93.75      93.75  75288000.0       AMZN
2 2020-01-06     93  95.18  93.00  95.14      95.14  81236000.0       AMZN
3 2020-01-07  95.22  95.69  94.60  95.34      95.34  80898000.0       AMZN
4 2020-01-08   94.9  95.55  94.32  94.60      94.60  70160000.0       AMZN

In [40]:
aapl_price = pd.read_csv('Apple_stock_price_2020_2022 - Sheet1.csv')

In [71]:
aapl_ready =aapl_price.copy()

aapl_ready.columns = [col.split('_')[-1] if '_' in col else col for col in aapl_ready.columns]

aapl_ready['Date'] = pd.to_datetime(aapl_ready['Date'])
aapl_ready = aapl_ready.sort_values('Date', ascending=True).reset_index(drop=True)

aapl_ready['Volume'] = aapl_ready['Volume'].astype(str).str.replace(',', '').astype(float)

aapl_ready['Stock_name'] = 'AAPL'
print(aapl_ready.head())

        Date   Open   High    Low  Close  Adj Close       Volume Stock_name
0 2020-01-02  74.06  75.15  73.80  75.09      72.47  135480400.0       AAPL
1 2020-01-03  74.29  75.14  74.13  74.36      71.76  146322800.0       AAPL
2 2020-01-06  73.45  74.99  73.19  74.95      72.34  118387200.0       AAPL
3 2020-01-07  74.96  75.22  74.37  74.60      72.00  108872000.0       AAPL
4 2020-01-08  74.29  76.11  74.29  75.80      73.15  132079200.0       AAPL

In [30]:
risk_appetite = pd.read_csv('Sentiment_table.csv')

In [33]:
# Set row at index 2 as header and remove rows above it
risk_appetite.columns = risk_appetite.iloc[2]
risk_appetite = risk_appetite[3:].reset_index(drop=True)
risk_appetite

2,Date,Bullish,Neutral,Bearish,Total,Mov Avg,Spread,Average,+St. Dev.,- St. Dev.,High,Low,Close,NaN,NaN,NaN
0,1-2-20,37.22%,40.91%,21.88%,100%,37.22%,15.3%,NaN,NaN,NaN,"3,247.93","3,212.03","3,230.78",NaN,NaN,NaN
1,1-9-20,33.07%,37.04%,29.89%,100%,35.14%,3.2%,NaN,NaN,NaN,"3,267.07","3,212.03","3,253.05",NaN,NaN,NaN
2,1-16-20,41.83%,30.66%,27.51%,100%,37.37%,14.3%,NaN,NaN,NaN,"3,298.66","3,236.67","3,289.29",NaN,NaN,NaN
3,1-23-20,45.60%,29.63%,24.77%,100%,39.43%,20.8%,NaN,NaN,NaN,"3,337.77","3,277.19","3,321.75",NaN,NaN,NaN
4,1-30-20,31.98%,31.17%,36.86%,100%,37.94%,-4.9%,NaN,NaN,NaN,"3,337.77","3,234.50","3,273.40",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,11-28-24,37.05%,24.30%,38.65%,100%,42.67%,-1.6%,NaN,NaN,NaN,"6,025.42","5,944.36","5,998.74",NaN,NaN,NaN
256,12-5-24,48.33%,21.00%,30.67%,100%,42.59%,17.7%,NaN,NaN,NaN,"6,089.84","6,003.98","6,086.49",NaN,NaN,NaN
257,12-12-24,43.33%,25.00%,31.67%,100%,42.32%,11.7%,NaN,NaN,NaN,"6,099.97","6,029.89","6,084.19",NaN,NaN,NaN
258,12-19-24,40.71%,27.86%,31.43%,100%,42.70%,9.3%,NaN,NaN,NaN,"6,085.19","5,867.79","5,872.16",NaN,NaN,NaN
259,12-26-24,37.80%,28.05%,34.15%,100%,42.49%,3.7%,NaN,NaN,NaN,"6,040.10","5,832.30","6,040.04",NaN,NaN,NaN

In [37]:
risk_appetite['Date'] = pd.to_datetime(risk_appetite['Date']) # 转换时间格式


# Risk Appetite 
risk_appetite['RiskAppetite'] = risk_appetite['Bullish'] - risk_appetite['Bearish']

aaii_clean = risk_appetite[['Date', 'RiskAppetite']].set_index('Date').sort_index()

daily_risk_appetite = aaii_clean.resample('D').ffill()

In [73]:
risk_ready = daily_risk_appetite.reset_index().rename(columns={'Date': 'date'})

In [75]:
risk_ready.head()

2       date  RiskAppetite
0 2020-01-02        0.1534
1 2020-01-03        0.1534
2 2020-01-04        0.1534
3 2020-01-05        0.1534
4 2020-01-06        0.1534

In [10]:
!pip install kagglehub

Requirement already satisfied: kagglehub in /opt/miniconda3/envs/compss211/lib/python3.11/site-packages (0.3.13)
Requirement already satisfied: packaging in /opt/miniconda3/envs/compss211/lib/python3.11/site-packages (from kagglehub) (25.0)
Requirement already satisfied: pyyaml in /opt/miniconda3/envs/compss211/lib/python3.11/site-packages (from kagglehub) (6.0.3)
Requirement already satisfied: requests in /opt/miniconda3/envs/compss211/lib/python3.11/site-packages (from kagglehub) (2.32.5)
Requirement already satisfied: tqdm in /opt/miniconda3/envs/compss211/lib/python3.11/site-packages (from kagglehub) (4.67.1)
Requirement already satisfied: charset_normalizer<4,>=2 in /opt/miniconda3/envs/compss211/lib/python3.11/site-packages (from requests->kagglehub) (3.4.3)
Requirement already satisfied: idna<4,>=2.5 in /opt/miniconda3/envs/compss211/lib/python3.11/site-packages (from requests->kagglehub) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/miniconda3/envs/compss211/lib/python3.11/site-packages (from requests->kagglehub) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /opt/miniconda3/envs/compss211/lib/python3.11/site-packages (from requests->kagglehub) (2025.11.12)

In [12]:
import os
print(f"Path: {path}")
print("\nFiles in the directory:")
for item in os.listdir(path):
    print(f"  - {item}")

Path: /Users/gaoqianwen/.cache/kagglehub/datasets/frankcaoyun/stocktwits-2020-2022-raw/versions/1

Files in the directory:
  - StockTwits_2020_2022_Raw

In [14]:
# Merge all AAPL CSV files
print("Reading and merging AAPL data...")
aapl_dfs = []
for i, file in enumerate(aapl_files):
    if i % 10 == 0:
        print(f"  AAPL Progress: {i}/{len(aapl_files)}")
    df = pd.read_csv(file)
    aapl_dfs.append(df)

aapl_stocktwits = pd.concat(aapl_dfs, ignore_index=True)
print(f"AAPL merge complete! Shape: {aapl_stocktwits.shape}")

# Merge all AMZN CSV files
print("\nReading and merging AMZN data...")
amzn_dfs = []
for i, file in enumerate(amzn_files):
    if i % 10 == 0:
        print(f"  AMZN Progress: {i}/{len(amzn_files)}")
    df = pd.read_csv(file)
    amzn_dfs.append(df)

amzn_stocktwits = pd.concat(amzn_dfs, ignore_index=True)
print(f"AMZN merge complete! Shape: {amzn_stocktwits.shape}")

Reading and merging AAPL data...
  AAPL Progress: 0/62
  AAPL Progress: 10/62
  AAPL Progress: 10/62
  AAPL Progress: 20/62
  AAPL Progress: 20/62
  AAPL Progress: 30/62
  AAPL Progress: 30/62
  AAPL Progress: 40/62
  AAPL Progress: 40/62
  AAPL Progress: 50/62
  AAPL Progress: 50/62
  AAPL Progress: 60/62
  AAPL Progress: 60/62
AAPL merge complete! Shape: (914962, 16)

Reading and merging AMZN data...
  AMZN Progress: 0/90
AAPL merge complete! Shape: (914962, 16)

Reading and merging AMZN data...
  AMZN Progress: 0/90
  AMZN Progress: 10/90
  AMZN Progress: 10/90
  AMZN Progress: 20/90
  AMZN Progress: 20/90
  AMZN Progress: 30/90
  AMZN Progress: 30/90
  AMZN Progress: 40/90
  AMZN Progress: 40/90
  AMZN Progress: 50/90
  AMZN Progress: 50/90
  AMZN Progress: 60/90
  AMZN Progress: 60/90
  AMZN Progress: 70/90
  AMZN Progress: 70/90
  AMZN Progress: 80/90
  AMZN Progress: 80/90
AMZN merge complete! Shape: (539803, 15)
AMZN merge complete! Shape: (539803, 15)

In [42]:
aapl_stocktwits.created_at.min()

Timestamp('2019-12-31 21:07:39+0000', tz='UTC')

In [16]:
aapl_stocktwits.created_at.max()

'2022-02-27T15:17:51Z'

In [17]:
# View AMZN data
print("=" * 60)
print("AMZN StockTwits Data Overview")
print("=" * 60)
print(f"Shape: {amzn_stocktwits.shape}")
print(f"\nColumns:\n{list(amzn_stocktwits.columns)}")
print(f"\nFirst 5 rows:")
amzn_stocktwits.head()

============================================================
AMZN StockTwits Data Overview
============================================================
Shape: (539803, 15)

Columns:
['Unnamed: 0', 'id', 'body', 'created_at', 'user', 'source', 'symbols', 'mentioned_users', 'entities', 'likes', 'conversation', 'reshares', 'links', 'reshare_message', 'owned_symbols']

First 5 rows:

============================================================
AMZN StockTwits Data Overview
============================================================
Shape: (539803, 15)

Columns:
['Unnamed: 0', 'id', 'body', 'created_at', 'user', 'source', 'symbols', 'mentioned_users', 'entities', 'likes', 'conversation', 'reshares', 'links', 'reshare_message', 'owned_symbols']

First 5 rows:

,Unnamed: 0,id,body,created_at,user,source,symbols,mentioned_users,entities,likes,conversation,reshares,links,reshare_message,owned_symbols
0,0,174708128,$AMZN \n\n@CNBCFastMoney \n\nLori Calvasina ba...,2019-08-19T21:40:17Z,"{'id': 1767231, 'username': 'Banana3', 'name':...","{'id': 1149, 'title': 'StockTwits for iOS', 'u...","[{'id': 864, 'symbol': 'AMZN', 'title': 'Amazo...",['@CNBCFastMoney'],{'sentiment': {'basic': 'Bullish'}},"{'total': 5, 'user_ids': [1584172, 1842313, 15...",NaN,NaN,NaN,NaN,NaN
1,1,174707826,$AMZN The Roaches at WSJ took a bribe to relea...,2019-08-19T21:37:56Z,"{'id': 477296, 'username': 'SunPower', 'name':...","{'id': 2095, 'title': 'StockTwits For Android ...","[{'id': 864, 'symbol': 'AMZN', 'title': 'Amazo...",[],{'sentiment': None},"{'total': 2, 'user_ids': [1584172, 1201608]}",NaN,NaN,NaN,NaN,NaN
2,2,174706333,$AMZN $SPY \nGreat NEWS from state AG on anti-...,2019-08-19T21:27:29Z,"{'id': 1767231, 'username': 'Banana3', 'name':...","{'id': 1149, 'title': 'StockTwits for iOS', 'u...","[{'id': 864, 'symbol': 'AMZN', 'title': 'Amazo...",[],{'chart': {'thumb': 'https://charts.stocktwits...,"{'total': 4, 'user_ids': [1234669, 1584172, 15...","{'parent_message_id': 174706333, 'in_reply_to_...",NaN,NaN,NaN,NaN
3,3,174706186,"$AMZN red tomorrow but with today and friday, ...",2019-08-19T21:26:26Z,"{'id': 2038667, 'username': 'byrdc8', 'name': ...","{'id': 2095, 'title': 'StockTwits For Android ...","[{'id': 864, 'symbol': 'AMZN', 'title': 'Amazo...",[],{'sentiment': None},"{'total': 3, 'user_ids': [438119, 796821, 2134...","{'parent_message_id': 174706186, 'in_reply_to_...",NaN,NaN,NaN,NaN
4,4,174704625,$FB $AMZN $GOOG $GOOGL $QQQ,2019-08-19T21:16:47Z,"{'id': 796821, 'username': 'ThuhKang', 'name':...","{'id': 1149, 'title': 'StockTwits for iOS', 'u...","[{'id': 864, 'symbol': 'AMZN', 'title': 'Amazo...",[],{'chart': {'thumb': 'https://charts.stocktwits...,"{'total': 3, 'user_ids': [923155, 1292102, 5]}","{'parent_message_id': 174704625, 'in_reply_to_...","{'reshared_count': 1, 'user_ids': [543250]}",NaN,NaN,NaN

In [19]:
import ast

def extract_sentiment(entities_str):
    """Extract sentiment from entities column"""
    if pd.isna(entities_str):
        return None
    try:
        # Convert string to dict
        entities_dict = ast.literal_eval(str(entities_str))
        if 'sentiment' in entities_dict and entities_dict['sentiment'] is not None:
            if 'basic' in entities_dict['sentiment']:
                return entities_dict['sentiment']['basic']
    except:
        pass
    return None

# Apply sentiment extraction to both dataframes
print("Extracting sentiments from AAPL data...")
aapl_stocktwits['sentiment'] = aapl_stocktwits['entities'].apply(extract_sentiment)

print("Extracting sentiments from AMZN data...")
amzn_stocktwits['sentiment'] = amzn_stocktwits['entities'].apply(extract_sentiment)

print("\nSentiment distribution in AAPL:")
print(aapl_stocktwits['sentiment'].value_counts())
print("\nSentiment distribution in AMZN:")
print(amzn_stocktwits['sentiment'].value_counts())

Extracting sentiments from AAPL data...
Extracting sentiments from AMZN data...
Extracting sentiments from AMZN data...

Sentiment distribution in AAPL:
sentiment
Bullish    345900
Bearish    107549
Name: count, dtype: int64

Sentiment distribution in AMZN:
sentiment
Bullish    188148
Bearish     48336
Name: count, dtype: int64

Sentiment distribution in AAPL:
sentiment
Bullish    345900
Bearish    107549
Name: count, dtype: int64

Sentiment distribution in AMZN:
sentiment
Bullish    188148
Bearish     48336
Name: count, dtype: int64

In [21]:
# Process AMZN data
# Convert created_at to datetime
amzn_stocktwits['created_at'] = pd.to_datetime(amzn_stocktwits['created_at'])

# Extract date from created_at
amzn_stocktwits['date'] = amzn_stocktwits['created_at'].dt.date

# Group by date and calculate sentiment counts
amzn_sentiment_daily = amzn_stocktwits.groupby('date')['sentiment'].value_counts().unstack(fill_value=0)

# Calculate net sentiment
if 'Bullish' in amzn_sentiment_daily.columns and 'Bearish' in amzn_sentiment_daily.columns:
    amzn_sentiment_daily['net_sentiment'] = (amzn_sentiment_daily['Bullish'] - amzn_sentiment_daily['Bearish']) / \
                                             (amzn_sentiment_daily['Bullish'] + amzn_sentiment_daily['Bearish'])
else:
    amzn_sentiment_daily['net_sentiment'] = 0

# Keep only net_sentiment column and reset index to make date a column
amzn_net_sentiment = amzn_sentiment_daily[['net_sentiment']].reset_index()
amzn_net_sentiment.columns = ['created_at', 'net_sentiment']

print("AMZN Net Sentiment:")
print(amzn_net_sentiment.head(10))
print(f"\nShape: {amzn_net_sentiment.shape}")

AMZN Net Sentiment:
   created_at  net_sentiment
0  2019-07-23       0.454545
1  2019-07-24       0.788018
2  2019-07-25       0.404984
3  2019-07-26       0.541401
4  2019-07-27       0.368421
5  2019-07-28       0.684211
6  2019-07-29       0.582938
7  2019-07-30       0.661202
8  2019-07-31       0.644269
9  2019-08-01       0.413681

Shape: (957, 2)

In [23]:
aapl_net_sentiment.head()

   created_at  net_sentiment
0  2019-12-31       0.696970
1  2020-01-01       0.560976
2  2020-01-02       0.688889
3  2020-01-03       0.283163
4  2020-01-04       0.382979

In [25]:
# Combine AAPL and AMZN net sentiment dataframes,
combined_data = pd.concat([aapl_net_sentiment, amzn_net_sentiment], ignore_index=True)
print("Combined Data Overview:")
print(combined_data.head())
print(f"\nShape: {combined_data.shape}")

Combined Data Overview:
   created_at  net_sentiment stock
0  2019-12-31       0.696970  AAPL
1  2020-01-01       0.560976  AAPL
2  2020-01-02       0.688889  AAPL
3  2020-01-03       0.283163  AAPL
4  2020-01-04       0.382979  AAPL

Shape: (1747, 3)

In [76]:
combined_data['created_at'] = pd.to_datetime(combined_data['created_at'])
combined_data.rename(columns={'created_at': 'date', 'stock': 'stock_name'}, inplace=True)

In [177]:
import pandas as pd

# 1. 准备价格数据：先统一改名，然后上下拼接
# ---------------------------------------------------------
cols_to_keep = ['Date', 'Stock_name', 'Open', 'High', 'Low', 'Close', 'Volume']
rename_dict = {'Date': 'date', 'Stock_name': 'stock_name'}

# 整理 AMZN
amzn_clean = amzn_ready[cols_to_keep].rename(columns=rename_dict)
# 整理 AAPL
aapl_clean = aapl_ready[cols_to_keep].rename(columns=rename_dict)

# 【关键步骤】把两只股票的价格表拼成一张长表
all_prices = pd.concat([amzn_clean, aapl_clean], ignore_index=True)

# 确保日期格式统一 (防止 merge 失败)
all_prices['date'] = pd.to_datetime(all_prices['date'])
combined_data['date'] = pd.to_datetime(combined_data['date'])


# 2. 执行 Merge：现在只需要 Merge 一次价格表
# ---------------------------------------------------------
merged_df = combined_data.merge(sofr_ready, on='date', how='left') \
    .merge(news_ready, on=['date', 'stock_name'], how='left') \
    .merge(unemployment_ready, on='date', how='left') \
    .merge(fed_ready, on='date', how='left') \
    .merge(risk_ready, on='date', how='left') \
    .merge(all_prices, on=['date', 'stock_name'], how='left')  # <--- 这里只用 merge 一次！

# 3. 检查结果
print(merged_df['stock_name'].value_counts())
# 现在你应该能看到 AAPL 和 AMZN 都有数据了，而且列名是干净的 Open, Close (没有 _x, _y)

stock_name
AMZN    957
AAPL    800
Name: count, dtype: int64

In [ ]:
# merged_df = combined_data.merge(sofr_ready, on='date', how='left') \
#     .merge(news_ready, on=['date', 'stock_name'], how='left') \
#     .merge(unemployment_ready, on='date', how='left') \
#     .merge(fed_ready, on='date', how='left') \
#     .merge(risk_ready, on='date', how='left') \
#     .merge(amzn_ready[['Date', 'Stock_name', 'Open', 'High', 'Low', 'Close','Volume']].rename(columns={'Date': 'date', 'Stock_name': 'stock_name'}), on=['date', 'stock_name'], how='left') \
#     .merge(aapl_ready[['Date', 'Stock_name', 'Open', 'High', 'Low', 'Close','Volume']].rename(columns={'Date': 'date', 'Stock_name': 'stock_name'}), on=['date', 'stock_name'], how='left')

In [179]:
import numpy as np

merged_df['FOMC'] = np.where(merged_df['date'].isin(fomc_date_set), 1, 0)

In [180]:

merged_df['Fed_Rate'] = merged_df['Fed_Rate'].ffill()

In [181]:
merged_df.head()

,date,net_sentiment,stock_name,sofr_rate,NewsCount,NewsTone,unemployment,Fed_Rate,RiskAppetite,Open,High,Low,Close,Volume,FOMC
0,2019-12-31,0.696970,AAPL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,2020-01-01,0.560976,AAPL,NaN,268.0,0.003521,5869.0,1.75,NaN,NaN,NaN,NaN,NaN,NaN,0
2,2020-01-02,0.688889,AAPL,1.54,513.0,0.006356,NaN,1.75,0.1534,74.06,75.15,73.80,75.09,135480400.0,0
3,2020-01-03,0.283163,AAPL,1.55,733.0,0.006926,NaN,1.75,0.1534,74.29,75.14,74.13,74.36,146322800.0,0
4,2020-01-04,0.382979,AAPL,NaN,494.0,0.005009,NaN,1.75,0.1534,NaN,NaN,NaN,NaN,NaN,0

In [182]:
# 检查数据集中包含的所有股票代码
print(merged_df['stock_name'].unique())

# 或者统计每只股票有多少行数据
print(merged_df['stock_name'].value_counts())

['AAPL' 'AMZN']
stock_name
AMZN    957
AAPL    800
Name: count, dtype: int64

In [189]:
import pandas as pd
import numpy as np

# 1. Initial cleanup: Resolve column name conflicts (_x vs _y)
df = merged_df.copy()



# Drop unnecessary _x columns
cols_to_drop = [c for c in df.columns if '_x' in c]
df = df.drop(columns=cols_to_drop)

# 2. Time series basic processing
# Convert to datetime and sort (critical for ffill and shift operations)
df['date'] = pd.to_datetime(df['date'])
df = df.sort_values(by=['stock_name', 'date'])

# 3. Fill missing macro data
# Logic: Macro variables (unemployment/interest rates) don't change daily, use forward fill
macro_cols = ['unemployment', 'sofr_rate', 'RiskAppetite', 'Fed_Rate']
df[macro_cols] = df[macro_cols].ffill().bfill()

# ==============================================================================
# 4. [KEY FIX] Clean data types and remove non-trading days first
# ==============================================================================

# A. Force conversion to numeric (handle possible strings or commas)
cols_to_numeric = ['Open', 'High', 'Low', 'Close', 'Volume', 'NewsCount', 'net_sentiment']
for col in cols_to_numeric:
    # errors='coerce' converts invalid values to NaN
    df[col] = pd.to_numeric(df[col], errors='coerce')

# B. [CORE FIX] Remove weekends and holidays (rows with missing Volume or Close_Price)
# This MUST happen before calculating returns and lags!
# This way, "Monday's" previous row is "Friday", so Log_Return won't be NaN
df = df.dropna(subset=['Volume', 'Close', 'Open', 'High', 'Low'])

# ==============================================================================
# 5. Feature Engineering - shift(1) now represents "previous trading day"
# ==============================================================================

# A. Trading volume (Log Volume) - Dependent variable
df['Log_Volume'] = np.log(df['Volume'] + 1)

# B. Volatility indicator (Intraday Volatility)
# Logic: (High - Low) / Open
df['Intraday_Range'] = (df['High'] - df['Low']) / (df['Open'] + 1e-8)

# C. Stock return (Log Return)
# Logic: ln(today's close / previous trading day's close)
# Note: Use shift() directly since weekends have been removed
df['Close_Lag1'] = df.groupby('stock_name')['Close'].shift(1)
df['Log_Return'] = np.log(df['Close'] / df['Close_Lag1'])

# D. Attention/Buzz (Log Buzz)
df['Log_Buzz'] = np.log(df['NewsCount'] + 1)

# ==============================================================================
# 6. Lagging Operations - Predictor variables
# ==============================================================================

# 1. Yesterday's sentiment -> predict today's volume
df['Sentiment_Lag1'] = df.groupby('stock_name')['net_sentiment'].shift(1)

# 2. Yesterday's buzz -> predict today's volume
df['Log_Buzz_Lag1']  = df.groupby('stock_name')['Log_Buzz'].shift(1)

# 3. Yesterday's volatility -> predict today's volume
df['Volatility_Lag1'] = df.groupby('stock_name')['Intraday_Range'].shift(1)

# 4. Yesterday's absolute return -> predict today's volume
df['Return_Abs_Lag1'] = df.groupby('stock_name')['Log_Return'].shift(1).abs()

# ==============================================================================
# 7. Final cleanup and indexing
# ==============================================================================

# Remove first row for each stock due to lag calculations
df_final = df.dropna(subset=['Sentiment_Lag1', 'Volatility_Lag1', 'Return_Abs_Lag1'])

# Set panel index
df_final = df_final.set_index(['stock_name', 'date'])

# Check results
print("Data cleaning completed.")
print(f"Final dimensions: {df_final.shape}")
print(f"\nKey columns preview (Check if Monday has data):")
# Check if Log_Return has NaN values
print(df_final[['Log_Volume', 'Log_Return', 'Return_Abs_Lag1', 'Volatility_Lag1']].head(10))

Data cleaning completed.
Final dimensions: (1087, 22)

Key columns preview (Check if Monday has data):
                       Log_Volume  Log_Return  Return_Abs_Lag1  \
stock_name date
AAPL       2020-01-06   18.589471    0.007903         0.009769
           2020-01-07   18.505683   -0.004681         0.007903
           2020-01-08   18.698912    0.015958         0.004681
           2020-01-09   18.951946    0.021018         0.015958
           2020-01-10   18.761748    0.002194         0.021018
           2020-01-13   18.615688    0.021172         0.002194
           2020-01-14   18.902825   -0.013595         0.021172
           2020-01-15   18.618905   -0.004359         0.013595
           2020-01-16   18.505290    0.012513         0.004359
           2020-01-17   18.741433    0.010979         0.012513

                       Volatility_Lag1
stock_name date
AAPL       2020-01-06         0.013595
           2020-01-07         0.024506
           2020-01-08         0.011339
           2020-01-09         0.024499
           2020-01-10         0.013800
           2020-01-13         0.014295
           2020-01-14         0.018996
           2020-01-15         0.017050
           2020-01-16         0.019112
           2020-01-17         0.011607

In [190]:
df.head(10)

,date,net_sentiment,stock_name,sofr_rate,NewsCount,NewsTone,unemployment,Fed_Rate,RiskAppetite,Open,...,FOMC,Log_Volume,Intraday_Range,Close_Lag1,Log_Return,Log_Buzz,Sentiment_Lag1,Log_Buzz_Lag1,Volatility_Lag1,Return_Abs_Lag1
2,2020-01-02,0.688889,AAPL,1.54,513.0,0.006356,5869.0,1.75,0.1534,74.06,...,0,18.724338,0.018228,NaN,NaN,6.242223,NaN,NaN,NaN,NaN
3,2020-01-03,0.283163,AAPL,1.55,733.0,0.006926,5869.0,1.75,0.1534,74.29,...,0,18.801326,0.013595,75.09,-0.009769,6.598509,0.688889,6.242223,0.018228,NaN
6,2020-01-06,0.400531,AAPL,1.55,539.0,0.007840,5869.0,1.75,0.1534,73.45,...,0,18.589471,0.024506,74.36,0.007903,6.291569,0.283163,6.598509,0.013595,0.009769
7,2020-01-07,0.297158,AAPL,1.56,497.0,0.001657,5869.0,1.75,0.1534,74.96,...,0,18.505683,0.011339,74.95,-0.004681,6.210600,0.400531,6.291569,0.024506,0.007903
8,2020-01-08,0.598662,AAPL,1.55,776.0,-0.001556,5869.0,1.75,0.1534,74.29,...,0,18.698912,0.024499,74.60,0.015958,6.655440,0.297158,6.210600,0.011339,0.004681
9,2020-01-09,0.629080,AAPL,1.55,675.0,-0.000771,5869.0,1.75,0.0318,76.81,...,0,18.951946,0.013800,75.80,0.021018,6.516193,0.598662,6.655440,0.024499,0.015958
10,2020-01-10,0.449378,AAPL,1.55,563.0,-0.001866,5869.0,1.75,0.0318,77.65,...,0,18.761748,0.014295,77.41,0.002194,6.335054,0.629080,6.516193,0.013800,0.021018
13,2020-01-13,0.564202,AAPL,1.54,659.0,-0.002693,5869.0,1.75,0.0318,77.91,...,0,18.615688,0.018996,77.58,0.021172,6.492240,0.449378,6.335054,0.014295,0.002194
14,2020-01-14,0.378582,AAPL,1.55,843.0,-0.009979,5869.0,1.75,0.0318,79.18,...,0,18.902825,0.017050,79.24,-0.013595,6.738152,0.564202,6.492240,0.018996,0.021172
15,2020-01-15,0.326087,AAPL,1.56,1074.0,-0.016315,5869.0,1.75,0.0318,77.96,...,0,18.618905,0.019112,78.17,-0.004359,6.980076,0.378582,6.738152,0.017050,0.013595

In [191]:
df.shape

(1091, 24)

In [192]:
df.to_csv('dataset_aapl_amzn.csv')