In [170]:
import pandas as pd

#### VIX

In [171]:
vix = pd.read_csv('VIXCLS.csv')

In [172]:
vix_ready = vix.copy()
vix_ready['observation_date'] = pd.to_datetime(vix_ready['observation_date'])
vix_ready.rename(columns={'observation_date': 'date', 'VIXCLS': 'vix_close_price'}, inplace=True)

In [173]:
vix_ready.head()

        date  vix_close_price
0 2020-01-02            12.47
1 2020-01-03            14.02
2 2020-01-06            13.85
3 2020-01-07            13.79
4 2020-01-08            13.45

#### fedrate

In [174]:
fed_rate = pd.read_csv('fed_rate_changes_2020_2022.csv')

In [175]:
fed_rate['observation_date'] = pd.to_datetime(fed_rate['observation_date'])

fed_ready = fed_rate[['observation_date', 'DFEDTARU']].rename(
    columns={'observation_date': 'date', 'DFEDTARU': 'Fed_Rate'}
)

In [176]:
fed_ready.head()

        date  Fed_Rate
0 2020-01-01      1.75
1 2020-03-04      1.25
2 2020-03-16      0.25
3 2022-03-17      0.50
4 2022-05-05      1.00

#### SOFR (may not use)

In [177]:
sofr = pd.read_csv('sofr_2020_2022.csv')

In [178]:
sofr.head()

,Effective Date,Rate Type,Rate (%),1st Percentile (%),25th Percentile (%),75th Percentile (%),99th Percentile (%),Volume ($Billions),Target Rate From (%),Target Rate To (%),Intra Day - Low (%),Intra Day - High (%),Standard Deviation (%),30-Day Average SOFR,90-Day Average SOFR,180-Day Average SOFR,SOFR Index,Revision Indicator (Y/N),Footnote ID
0,12/30/2022,SOFR,4.3,4.20,4.26,4.33,4.48,1004.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,12/29/2022,SOFR,4.3,4.20,4.26,4.32,4.45,1037.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,12/28/2022,SOFR,4.3,4.21,4.27,4.32,4.45,1005.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,12/27/2022,SOFR,4.3,4.15,4.27,4.32,4.40,1048.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,12/23/2022,SOFR,4.3,4.21,4.26,4.31,4.38,991.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [179]:
sofr_ready = sofr[['Effective Date', 'Rate (%)']].copy()
sofr_ready['Effective Date'] = pd.to_datetime(sofr_ready['Effective Date'])
sofr_ready.rename(columns={'Effective Date': 'date', 'Rate (%)': 'sofr_rate'}, inplace=True)

In [180]:
sofr_ready.head()

        date  sofr_rate
0 2022-12-30        4.3
1 2022-12-29        4.3
2 2022-12-28        4.3
3 2022-12-27        4.3
4 2022-12-23        4.3

#### News tone and sentiment

In [181]:
news = pd.read_csv('news_for 5_stocks.csv')
news_ready = news.copy()
news_ready['date'] = pd.to_datetime(news_ready['date'])
news_ready.rename(columns={'date': 'date', 'ticker': 'stock_name'}, inplace=True)

In [182]:
news_ready.head()

        date stock_name  NewsCount  NewsTone
0 2020-01-01       AAPL        268  0.003521
1 2020-01-01       AMZN        240 -0.016863
2 2020-01-01         FB       2572 -0.011213
3 2020-01-01       NVDA         16 -0.010415
4 2020-01-01       TSLA        276 -0.024558

#### Unemployment

In [183]:
unemployment = pd.read_csv('unemployment.csv')

In [184]:
unemployment.head()

  observation_date  UNEMPLOY
0       2020-01-01      5869
1       2020-02-01      5753
2       2020-03-01      7206
3       2020-04-01     23084
4       2020-05-01     20929

In [185]:
unemployment_ready = unemployment.copy()
unemployment_ready['observation_date'] = pd.to_datetime(unemployment_ready['observation_date'])
unemployment_ready.rename(columns={'UNEMPLOY': 'unemployment', 'observation_date': 'date'}, inplace=True)

In [186]:
unemployment_ready.head()

        date  unemployment
0 2020-01-01          5869
1 2020-02-01          5753
2 2020-03-01          7206
3 2020-04-01         23084
4 2020-05-01         20929

### FOMC

In [187]:
fomc = pd.read_csv('fomc_meetings_2020_2022.csv')

In [188]:
fomc.head()

         date    month      raw_date_text  year
0  2020-01-28  January              28-29  2020
1  2020-03-17    March  17-18 (cancelled)  2020
2  2020-04-28    April              28-29  2020
3  2020-06-09     June               9-10  2020
4  2020-07-28     July              28-29  2020

In [189]:
fomc_ready = fomc[['date', 'raw_date_text']].copy()

fomc_ready['date'] = pd.to_datetime(fomc_ready['date'])

# rule out cancelled meetings
fomc_active = fomc_ready[~fomc_ready['raw_date_text'].str.contains('cancelled', case=False, na=False)].copy()

fomc_dates_day1 = fomc_active['date']
fomc_dates_day2 = fomc_active['date'] + pd.Timedelta(days=1)

# Combine the two days into a single list of unique dates
all_fomc_dates = pd.concat([fomc_dates_day1, fomc_dates_day2]).unique()

# Convert to a set for easy lookup
fomc_date_set = set(pd.to_datetime(all_fomc_dates))

In [190]:
fomc_active.head()

        date raw_date_text
0 2020-01-28         28-29
2 2020-04-28         28-29
3 2020-06-09          9-10
4 2020-07-28         28-29
5 2020-09-15         15-16

#### stocks

In [191]:
amzn_price = pd.read_csv('Amazon_stock_price_2020_2022 - Sheet1.csv')

In [192]:
amzn_ready = amzn_price.copy()

amzn_ready.columns = [col.split('_')[-1] if '_' in col else col for col in amzn_ready.columns]

amzn_ready['Date'] = pd.to_datetime(amzn_ready['Date'])
amzn_ready = amzn_ready.sort_values('Date', ascending=True).reset_index(drop=True)

amzn_ready['Volume'] = amzn_ready['Volume'].astype(str).str.replace(',', '').astype(float)

amzn_ready['Stock_name'] = 'AMZN'
print(amzn_ready.head())

        Date   Open   High    Low  Close  Adj Close      Volume Stock_name
0 2020-01-02  93.75  94.90  93.21  94.90      94.90  80580000.0       AMZN
1 2020-01-03  93.22  94.31  93.22  93.75      93.75  75288000.0       AMZN
2 2020-01-06     93  95.18  93.00  95.14      95.14  81236000.0       AMZN
3 2020-01-07  95.22  95.69  94.60  95.34      95.34  80898000.0       AMZN
4 2020-01-08   94.9  95.55  94.32  94.60      94.60  70160000.0       AMZN

In [193]:
aapl_price = pd.read_csv('Apple_stock_price_2020_2022 - Sheet1.csv')

In [194]:
aapl_ready =aapl_price.copy()

aapl_ready.columns = [col.split('_')[-1] if '_' in col else col for col in aapl_ready.columns]

aapl_ready['Date'] = pd.to_datetime(aapl_ready['Date'])
aapl_ready = aapl_ready.sort_values('Date', ascending=True).reset_index(drop=True)

aapl_ready['Volume'] = aapl_ready['Volume'].astype(str).str.replace(',', '').astype(float)

aapl_ready['Stock_name'] = 'AAPL'
print(aapl_ready.head())

        Date   Open   High    Low  Close  Adj Close       Volume Stock_name
0 2020-01-02  74.06  75.15  73.80  75.09      72.47  135480400.0       AAPL
1 2020-01-03  74.29  75.14  74.13  74.36      71.76  146322800.0       AAPL
2 2020-01-06  73.45  74.99  73.19  74.95      72.34  118387200.0       AAPL
3 2020-01-07  74.96  75.22  74.37  74.60      72.00  108872000.0       AAPL
4 2020-01-08  74.29  76.11  74.29  75.80      73.15  132079200.0       AAPL

In [195]:
tsla_price = pd.read_csv('TSLA_stock_price_2020_2022.csv')

In [196]:
tsla_ready =tsla_price.copy()

tsla_ready.columns = [col.split('_')[-1] if '_' in col else col for col in tsla_ready.columns]

tsla_ready['Date'] = pd.to_datetime(tsla_ready['Date'])
tsla_ready = tsla_ready.sort_values('Date', ascending=True).reset_index(drop=True)

tsla_ready['Volume'] = tsla_ready['Volume'].astype(str).str.replace(',', '').astype(float)

tsla_ready['Stock_name'] = 'TSLA'
print(tsla_ready.head())

        Date   Open   High    Low  Close  Adj Close       Volume Stock_name
0 2020-01-02   28.3  28.71  28.11  28.68      28.68  142981500.0       TSLA
1 2020-01-03  29.37  30.27  29.13  29.53      29.53  266677500.0       TSLA
2 2020-01-06  29.36  30.10  29.33  30.10      30.10  151995000.0       TSLA
3 2020-01-07  30.76  31.44  30.22  31.27      31.27  268231500.0       TSLA
4 2020-01-08  31.58  33.23  31.22  32.81      32.81  467164500.0       TSLA

In [197]:
meta_price = pd.read_csv('Meta_stock_price_2020_2022.csv')

In [198]:
meta_ready =meta_price.copy()

meta_ready.columns = [col.split('_')[-1] if '_' in col else col for col in meta_ready.columns]

meta_ready['Date'] = pd.to_datetime(meta_ready['Date'])
meta_ready = meta_ready.sort_values('Date', ascending=True).reset_index(drop=True)

meta_ready['Volume'] = meta_ready['Volume'].astype(str).str.replace(',', '').astype(float)

meta_ready['Stock_name'] = 'FB'
print(meta_ready.head())

        Date    Open    High     Low   Close  Adj Close      Volume Stock_name
0 2020-01-02  206.75  209.79  206.27  209.78     208.49  12077100.0         FB
1 2020-01-03  207.21  210.40  206.95  208.67     207.39  11188400.0         FB
2 2020-01-06  206.70  212.78  206.52  212.60     211.30  17058900.0         FB
3 2020-01-07  212.82  214.58  211.75  213.06     211.75  14912400.0         FB
4 2020-01-08  213.00  216.24  212.61  215.22     213.90  13475000.0         FB

In [199]:
nvda_price = pd.read_csv('NVDA_stock_price_2020_2022.csv')

In [200]:
nvda_ready =nvda_price.copy()

nvda_ready.columns = [col.split('_')[-1] if '_' in col else col for col in nvda_ready.columns]

nvda_ready['Date'] = pd.to_datetime(nvda_ready['Date'])
nvda_ready = nvda_ready.sort_values('Date', ascending=True).reset_index(drop=True)

nvda_ready['Volume'] = nvda_ready['Volume'].astype(str).str.replace(',', '').astype(float)

nvda_ready['Stock_name'] = 'NVDA'
print(nvda_ready.head())

        Date  Open  High   Low  Close  Adj Close       Volume Stock_name
0 2020-01-02  5.97  6.00  5.92   6.00       5.97  237536000.0       NVDA
1 2020-01-03  5.88  5.95  5.85   5.90       5.88  205384000.0       NVDA
2 2020-01-06  5.81  5.93  5.78   5.93       5.90  262636000.0       NVDA
3 2020-01-07  5.95  6.04  5.91   6.00       5.97  314856000.0       NVDA
4 2020-01-08  5.99  6.05  5.95   6.01       5.98  277108000.0       NVDA

#### Riskappetite

In [201]:
risk_appetite = pd.read_csv('Sentiment_table.csv')

In [202]:
# Set row at index 2 as header and remove rows above it
risk_appetite.columns = risk_appetite.iloc[2]
risk_appetite = risk_appetite[3:].reset_index(drop=True)
risk_appetite

2,Date,Bullish,Neutral,Bearish,Total,Mov Avg,Spread,Average,+St. Dev.,- St. Dev.,High,Low,Close,NaN,NaN,NaN
0,1-2-20,37.22%,40.91%,21.88%,100%,37.22%,15.3%,NaN,NaN,NaN,"3,247.93","3,212.03","3,230.78",NaN,NaN,NaN
1,1-9-20,33.07%,37.04%,29.89%,100%,35.14%,3.2%,NaN,NaN,NaN,"3,267.07","3,212.03","3,253.05",NaN,NaN,NaN
2,1-16-20,41.83%,30.66%,27.51%,100%,37.37%,14.3%,NaN,NaN,NaN,"3,298.66","3,236.67","3,289.29",NaN,NaN,NaN
3,1-23-20,45.60%,29.63%,24.77%,100%,39.43%,20.8%,NaN,NaN,NaN,"3,337.77","3,277.19","3,321.75",NaN,NaN,NaN
4,1-30-20,31.98%,31.17%,36.86%,100%,37.94%,-4.9%,NaN,NaN,NaN,"3,337.77","3,234.50","3,273.40",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,11-28-24,37.05%,24.30%,38.65%,100%,42.67%,-1.6%,NaN,NaN,NaN,"6,025.42","5,944.36","5,998.74",NaN,NaN,NaN
256,12-5-24,48.33%,21.00%,30.67%,100%,42.59%,17.7%,NaN,NaN,NaN,"6,089.84","6,003.98","6,086.49",NaN,NaN,NaN
257,12-12-24,43.33%,25.00%,31.67%,100%,42.32%,11.7%,NaN,NaN,NaN,"6,099.97","6,029.89","6,084.19",NaN,NaN,NaN
258,12-19-24,40.71%,27.86%,31.43%,100%,42.70%,9.3%,NaN,NaN,NaN,"6,085.19","5,867.79","5,872.16",NaN,NaN,NaN
259,12-26-24,37.80%,28.05%,34.15%,100%,42.49%,3.7%,NaN,NaN,NaN,"6,040.10","5,832.30","6,040.04",NaN,NaN,NaN

In [203]:
risk_appetite['Date'] = pd.to_datetime(risk_appetite['Date']) 

# Convert percentage strings to numeric values
# Convert to string first to handle both string and numeric values
risk_appetite['Bullish'] = pd.to_numeric(risk_appetite['Bullish'].astype(str).str.rstrip('%'), errors='coerce')/100
risk_appetite['Bearish'] = pd.to_numeric(risk_appetite['Bearish'].astype(str).str.rstrip('%'), errors='coerce')/100

# Risk Appetite 
risk_appetite['RiskAppetite'] = risk_appetite['Bullish'] - risk_appetite['Bearish']

aaii_clean = risk_appetite[['Date', 'RiskAppetite']].set_index('Date').sort_index()

daily_risk_appetite = aaii_clean.resample('D').ffill()

/var/folders/wt/c9dq7wk56lgb5n1hnwj_0glc0000gn/T/ipykernel_19139/4178870597.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  risk_appetite['Date'] = pd.to_datetime(risk_appetite['Date'])

In [204]:
risk_ready = daily_risk_appetite.reset_index().rename(columns={'Date': 'date'})

In [205]:
risk_ready.head(10)

2       date  RiskAppetite
0 2020-01-02        0.1534
1 2020-01-03        0.1534
2 2020-01-04        0.1534
3 2020-01-05        0.1534
4 2020-01-06        0.1534
5 2020-01-07        0.1534
6 2020-01-08        0.1534
7 2020-01-09        0.0318
8 2020-01-10        0.0318
9 2020-01-11        0.0318

#### Stocktwits

In [206]:
!pip install kagglehub

Requirement already satisfied: kagglehub in /opt/miniconda3/envs/compss211/lib/python3.11/site-packages (0.3.13)
Requirement already satisfied: packaging in /opt/miniconda3/envs/compss211/lib/python3.11/site-packages (from kagglehub) (25.0)
Requirement already satisfied: pyyaml in /opt/miniconda3/envs/compss211/lib/python3.11/site-packages (from kagglehub) (6.0.3)
Requirement already satisfied: requests in /opt/miniconda3/envs/compss211/lib/python3.11/site-packages (from kagglehub) (2.32.5)
Requirement already satisfied: tqdm in /opt/miniconda3/envs/compss211/lib/python3.11/site-packages (from kagglehub) (4.67.1)
Requirement already satisfied: charset_normalizer<4,>=2 in /opt/miniconda3/envs/compss211/lib/python3.11/site-packages (from requests->kagglehub) (3.4.3)
Requirement already satisfied: idna<4,>=2.5 in /opt/miniconda3/envs/compss211/lib/python3.11/site-packages (from requests->kagglehub) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/miniconda3/envs/compss211/lib/python3.11/site-packages (from requests->kagglehub) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /opt/miniconda3/envs/compss211/lib/python3.11/site-packages (from requests->kagglehub) (2025.11.12)

In [207]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("frankcaoyun/stocktwits-2020-2022-raw")

print("Path to dataset files:", path)

Path to dataset files: /Users/gaoqianwen/.cache/kagglehub/datasets/frankcaoyun/stocktwits-2020-2022-raw/versions/1

In [208]:
import os
print(f"Path: {path}")
print("\nFiles in the directory:")
for item in os.listdir(path):
    print(f"  - {item}")

Path: /Users/gaoqianwen/.cache/kagglehub/datasets/frankcaoyun/stocktwits-2020-2022-raw/versions/1

Files in the directory:
  - StockTwits_2020_2022_Raw

In [209]:
import pandas as pd
import os
import glob

# 1. Define dataset path
# Ensure this 'path' variable matches your kagglehub download path
base_path = path 

# 2. Define Target Stocks
# Adjusted based on your screenshot (Included FB and NVDA since they are in the folder)
# You can remove them if you only want the original list
target_symbols = ['AAPL', 'AMZN', 'TSLA', 'MSFT', 'GOOGL', 'FB', 'NVDA']

# Dictionary to store results
stock_data_dict = {}

def process_and_filter_stock(symbol, root_directory):
    """
    Finds files, merges them, and filters data to keep ONLY 2020-2022.
    """
    print(f"\n--- Processing Symbol: {symbol} ---")
    
    # A. Robust Search Pattern
    # Matches 'AAPL_...', 'AMZN2019...', 'TSLA...' regardless of underscores
    # Logic: Find any file containing the symbol string recursively
    search_pattern = os.path.join(root_directory, "**", f"*{symbol}*.csv")
    files_found = glob.glob(search_pattern, recursive=True)
    
    # Try lowercase if uppercase fails
    if not files_found:
        search_pattern_lower = os.path.join(root_directory, "**", f"*{symbol.lower()}*.csv")
        files_found = glob.glob(search_pattern_lower, recursive=True)
        
    print(f"  Found {len(files_found)} CSV files for {symbol}.")
    
    if not files_found:
        print(f"  Warning: No files found for {symbol}. Skipping...")
        return None
    
    temp_dfs = []
    
    # B. Read and Merge
    for i, file_path in enumerate(files_found):
        try:
            # Read CSV (skipping bad lines to prevent crashes)
            df = pd.read_csv(file_path, on_bad_lines='skip')
            
            # Ensure 'created_at' column exists (key for filtering)
            if 'created_at' in df.columns:
                # C. Time Filtering (The Crucial Step)
                # Convert to datetime
                df['created_at'] = pd.to_datetime(df['created_at'], errors='coerce')
                
                # Filter: Keep only data between 2020-01-01 and 2022-12-31
                # This removes the 2013-2019 data from AMZN/NVDA folders
                mask = (df['created_at'].dt.year >= 2020) & (df['created_at'].dt.year <= 2022)
                df_filtered = df.loc[mask].copy()
                
                # Only append if there is data left after filtering
                if not df_filtered.empty:
                    df_filtered['stock_name'] = symbol # Tag the stock
                    temp_dfs.append(df_filtered)
            
            if i % 10 == 0:
                print(f"  Reading & Filtering file {i+1}/{len(files_found)}...", end='\r')
                
        except Exception as e:
            print(f"  Error reading {file_path}: {e}")
            
    # D. Final Concatenation for this Stock
    if temp_dfs:
        combined_df = pd.concat(temp_dfs, ignore_index=True)
        print(f"\n  Successfully merged {symbol}. Final Shape (2020-2022): {combined_df.shape}")
        return combined_df
    else:
        print(f"\n  No data remained for {symbol} after 2020-2022 filtering.")
        return None

# 3. Execution Loop
for sym in target_symbols:
    df_result = process_and_filter_stock(sym, base_path)
    if df_result is not None:
        stock_data_dict[sym] = df_result

# 4. Combine Everything
print("\n--- Finalizing Master Dataset ---")
if stock_data_dict:
    all_stocks_df = pd.concat(stock_data_dict.values(), ignore_index=True)
    
    # Double check the date range
    print(f"Total Shape: {all_stocks_df.shape}")
    print(f"Date Range: {all_stocks_df['created_at'].min()} to {all_stocks_df['created_at'].max()}")
    print("Unique stocks:", all_stocks_df['stock_name'].unique())
    
    # Preview
    print(all_stocks_df.head())
else:
    print("No data processed.")

--- Processing Symbol: AAPL ---
  Found 62 CSV files for AAPL.
  Found 62 CSV files for AAPL.
  Reading & Filtering file 61/62...
  Successfully merged AAPL. Final Shape (2020-2022): (914869, 17)

--- Processing Symbol: AMZN ---
  Found 90 CSV files for AMZN.
  Reading & Filtering file 1/90...
  Successfully merged AAPL. Final Shape (2020-2022): (914869, 17)

--- Processing Symbol: AMZN ---
  Found 90 CSV files for AMZN.
  Reading & Filtering file 81/90...
  Successfully merged AMZN. Final Shape (2020-2022): (477187, 16)

--- Processing Symbol: TSLA ---
  Found 147 CSV files for TSLA.
  Reading & Filtering file 1/147...
  Successfully merged AMZN. Final Shape (2020-2022): (477187, 16)

--- Processing Symbol: TSLA ---
  Found 147 CSV files for TSLA.
  Reading & Filtering file 141/147...
  Successfully merged TSLA. Final Shape (2020-2022): (2197536, 17)

--- Processing Symbol: MSFT ---
  Found 0 CSV files for MSFT.
  Warning: No files found for MSFT. Skipping...

--- Processing Symbol: GOOGL ---
  Found 0 CSV files for GOOGL.
  Warning: No files found for GOOGL. Skipping...

--- Processing Symbol: FB ---
  Found 24 CSV files for FB.

  Successfully merged TSLA. Final Shape (2020-2022): (2197536, 17)

--- Processing Symbol: MSFT ---
  Found 0 CSV files for MSFT.
  Warning: No files found for MSFT. Skipping...

--- Processing Symbol: GOOGL ---
  Found 0 CSV files for GOOGL.
  Warning: No files found for GOOGL. Skipping...

--- Processing Symbol: FB ---
  Found 24 CSV files for FB.
  Reading & Filtering file 21/24...
  Successfully merged FB. Final Shape (2020-2022): (324398, 16)

--- Processing Symbol: NVDA ---
  Found 39 CSV files for NVDA.
  Reading & Filtering file 1/39...
  Successfully merged FB. Final Shape (2020-2022): (324398, 16)

--- Processing Symbol: NVDA ---
  Found 39 CSV files for NVDA.
  Reading & Filtering file 31/39...
  Successfully merged NVDA. Final Shape (2020-2022): (251959, 17)

--- Finalizing Master Dataset ---

  Successfully merged NVDA. Final Shape (2020-2022): (251959, 17)

--- Finalizing Master Dataset ---
Total Shape: (4165949, 17)
Date Range: 2020-01-01 00:00:25+00:00 to 2022-03-05 14:16:48+00:00
Total Shape: (4165949, 17)
Date Range: 2020-01-01 00:00:25+00:00 to 2022-03-05 14:16:48+00:00
Unique stocks: ['AAPL' 'AMZN' 'TSLA' 'FB' 'NVDA']
   Unnamed: 0         id                                               body  \
0           0  264350906  $AAPL sold my AAPL $124 &quot;yesterday of cou...
1           1  264350850                           $AAPL Moving fast early!
2           2  264350821                    $AAPL if confirms daily can rip
3           3  264350809                            $AAPL patience pays off
4           4  264350762  2020-12-15 14:39:50+00:00 $AAPL, $CMCSA, $SWKS...

                 created_at  \
0 2020-12-15 14:40:07+00:00
1 2020-12-15 14:40:00+00:00
2 2020-12-15 14:39:57+00:00
3 2020-12-15 14:39:55+00:00
4 2020-12-15 14:39:50+00:00

                                                user  \
0  {'id': 410481, 'username': 'Navyman', 'name': ...
1  {'id': 1563546, 'username': 'Trader_Ty', 'name...
2  {'id': 24272, 'username': 'danshep55', 'name':...
3  {'id': 763412, 'username': 'zeketrades_', 'nam...
4  {'id': 1511377, 'username': 'YuMiStocks_Trade'...

                                              source  \
0  {'id': 2269, 'title': 'StockTwits Web', 'url':...
1  {'id': 2269, 'title': 'StockTwits Web', 'url':...
2  {'id': 1149, 'title': 'StockTwits for iOS', 'u...
3  {'id': 1149, 'title': 'StockTwits for iOS', 'u...
4  {'id': 5846, 'title': 'ConfluxBot', 'url': 'ht...

                                             symbols  \
0  [{'id': 686, 'symbol': 'AAPL', 'title': 'Apple...
1  [{'id': 686, 'symbol': 'AAPL', 'title': 'Apple...
2  [{'id': 686, 'symbol': 'AAPL', 'title': 'Apple...
3  [{'id': 686, 'symbol': 'AAPL', 'title': 'Apple...
4  [{'id': 686, 'symbol': 'AAPL', 'title': 'Apple...

                                        conversation mentioned_users  \
0  {'parent_message_id': 264350906, 'in_reply_to_...              []
1                                                NaN              []
2                                                NaN              []
3                                                NaN              []
4                                                NaN              []

                              entities  \
0                  {'sentiment': None}
1  {'sentiment': {'basic': 'Bullish'}}
2  {'sentiment': {'basic': 'Bullish'}}
3                  {'sentiment': None}
4                  {'sentiment': None}

                                               likes  \
0                                                NaN
1  {'total': 3, 'user_ids': [683907, 3602081, 309...
2                                                NaN
3        {'total': 2, 'user_ids': [1703700, 617630]}
4                {'total': 1, 'user_ids': [4252585]}

                                      reshares reshare_message links  \
0                                          NaN             NaN   NaN
1                                          NaN             NaN   NaN
2  {'reshared_count': 1, 'user_ids': [184733]}             NaN   NaN
3                                          NaN             NaN   NaN
4                                          NaN             NaN   NaN

  stock_name owned_symbols structurable
0       AAPL           NaN          NaN
1       AAPL           NaN          NaN
2       AAPL           NaN          NaN
3       AAPL           NaN          NaN
4       AAPL           NaN          NaN
Unique stocks: ['AAPL' 'AMZN' 'TSLA' 'FB' 'NVDA']
   Unnamed: 0         id                                               body  \
0           0  264350906  $AAPL sold my AAPL $124 &quot;yesterday of cou...
1           1  264350850                           $AAPL Moving fast early!
2           2  264350821                    $AAPL if confirms daily can rip
3           3  264350809                            $AAPL patience pays off
4           4  264350762  2020-12-15 14:39:50+00:00 $AAPL, $CMCSA, $SWKS...

                 created_at  \
0 2020-12-15 14:40:07+00:00
1 2020-12-15 14:40:00+00:00
2 2020-12-15 14:39:57+00:00
3 2020-12-15 14:39:55+00:00
4 2020-12-15 14:39:50+00:00

                                                user  \
0  {'id': 410481, 'username': 'Navyman', 'name': ...
1  {'id': 1563546, 'username': 'Trader_Ty', 'name...
2  {'id': 24272, 'username': 'danshep55', 'name':...
3  {'id': 763412, 'username': 'zeketrades_', 'nam...
4  {'id': 1511377, 'username': 'YuMiStocks_Trade'...

                                              source  \
0  {'id': 2269, 'title': 'StockTwits Web', 'url':...
1  {'id': 2269, 'title': 'StockTwits Web', 'url':...
2  {'id': 1149, 'title': 'StockTwits for iOS', 'u...
3  {'id': 1149, 'title': 'StockTwits for iOS', 'u...
4  {'id': 5846, 'title': 'ConfluxBot', 'url': 'ht...

                                             symbols  \
0  [{'id': 686, 'symbol': 'AAPL', 'title': 'Apple...
1  [{'id': 686, 'symbol': 'AAPL', 'title': 'Apple...
2  [{'id': 686, 'symbol': 'AAPL', 'title': 'Apple...
3  [{'id': 686, 'symbol': 'AAPL', 'title': 'Apple...
4  [{'id': 686, 'symbol': 'AAPL', 'title': 'Apple...

                                        conversation mentioned_users  \
0  {'parent_message_id': 264350906, 'in_reply_to_...              []
1                                                NaN              []
2                                                NaN              []
3                                                NaN              []
4                                                NaN              []

                              entities  \
0                  {'sentiment': None}
1  {'sentiment': {'basic': 'Bullish'}}
2  {'sentiment': {'basic': 'Bullish'}}
3                  {'sentiment': None}
4                  {'sentiment': None}

                                               likes  \
0                                                NaN
1  {'total': 3, 'user_ids': [683907, 3602081, 309...
2                                                NaN
3        {'total': 2, 'user_ids': [1703700, 617630]}
4                {'total': 1, 'user_ids': [4252585]}

                                      reshares reshare_message links  \
0                                          NaN             NaN   NaN
1                                          NaN             NaN   NaN
2  {'reshared_count': 1, 'user_ids': [184733]}             NaN   NaN
3                                          NaN             NaN   NaN
4                                          NaN             NaN   NaN

  stock_name owned_symbols structurable
0       AAPL           NaN          NaN
1       AAPL           NaN          NaN
2       AAPL           NaN          NaN
3       AAPL           NaN          NaN
4       AAPL           NaN          NaN

In [210]:
print(all_stocks_df.columns)

Index(['Unnamed: 0', 'id', 'body', 'created_at', 'user', 'source', 'symbols',
       'conversation', 'mentioned_users', 'entities', 'likes', 'reshares',
       'reshare_message', 'links', 'stock_name', 'owned_symbols',
       'structurable'],
      dtype='object')

In [211]:
all_stocks_df.head()

,Unnamed: 0,id,body,created_at,user,source,symbols,conversation,mentioned_users,entities,likes,reshares,reshare_message,links,stock_name,owned_symbols,structurable
0,0,264350906,$AAPL sold my AAPL $124 &quot;yesterday of cou...,2020-12-15 14:40:07+00:00,"{'id': 410481, 'username': 'Navyman', 'name': ...","{'id': 2269, 'title': 'StockTwits Web', 'url':...","[{'id': 686, 'symbol': 'AAPL', 'title': 'Apple...","{'parent_message_id': 264350906, 'in_reply_to_...",[],{'sentiment': None},NaN,NaN,NaN,NaN,AAPL,NaN,NaN
1,1,264350850,$AAPL Moving fast early!,2020-12-15 14:40:00+00:00,"{'id': 1563546, 'username': 'Trader_Ty', 'name...","{'id': 2269, 'title': 'StockTwits Web', 'url':...","[{'id': 686, 'symbol': 'AAPL', 'title': 'Apple...",NaN,[],{'sentiment': {'basic': 'Bullish'}},"{'total': 3, 'user_ids': [683907, 3602081, 309...",NaN,NaN,NaN,AAPL,NaN,NaN
2,2,264350821,$AAPL if confirms daily can rip,2020-12-15 14:39:57+00:00,"{'id': 24272, 'username': 'danshep55', 'name':...","{'id': 1149, 'title': 'StockTwits for iOS', 'u...","[{'id': 686, 'symbol': 'AAPL', 'title': 'Apple...",NaN,[],{'sentiment': {'basic': 'Bullish'}},NaN,"{'reshared_count': 1, 'user_ids': [184733]}",NaN,NaN,AAPL,NaN,NaN
3,3,264350809,$AAPL patience pays off,2020-12-15 14:39:55+00:00,"{'id': 763412, 'username': 'zeketrades_', 'nam...","{'id': 1149, 'title': 'StockTwits for iOS', 'u...","[{'id': 686, 'symbol': 'AAPL', 'title': 'Apple...",NaN,[],{'sentiment': None},"{'total': 2, 'user_ids': [1703700, 617630]}",NaN,NaN,NaN,AAPL,NaN,NaN
4,4,264350762,"2020-12-15 14:39:50+00:00 $AAPL, $CMCSA, $SWKS...",2020-12-15 14:39:50+00:00,"{'id': 1511377, 'username': 'YuMiStocks_Trade'...","{'id': 5846, 'title': 'ConfluxBot', 'url': 'ht...","[{'id': 686, 'symbol': 'AAPL', 'title': 'Apple...",NaN,[],{'sentiment': None},"{'total': 1, 'user_ids': [4252585]}",NaN,NaN,NaN,AAPL,NaN,NaN

In [212]:
# Group by stock_name and show descriptive statistics
print("Data statistics grouped by stock_name:")
print("=" * 80)

# Count observations per stock
print("\nNumber of observations per stock:")
print(all_stocks_df.groupby('stock_name').size())

# Show basic statistics for each stock
print("\n" + "=" * 80)
print("Descriptive statistics by stock:")
print("=" * 80)

for stock in all_stocks_df['stock_name'].unique():
    print(f"\n{'='*80}")
    print(f"Stock: {stock}")
    print(f"{'='*80}")
    stock_data = all_stocks_df[all_stocks_df['stock_name'] == stock]
    print(f"Total records: {len(stock_data):,}")
    print(f"Date range: {stock_data['created_at'].min()} to {stock_data['created_at'].max()}")
    
    # Show sentiment distribution if available
    if 'sentiment' in stock_data.columns:
        print(f"\nSentiment distribution:")
        print(stock_data['sentiment'].value_counts())
    
    # Show other key statistics
    print(f"\nKey columns summary:")
    print(stock_data.describe())

Data statistics grouped by stock_name:
================================================================================

Number of observations per stock:

stock_name
AAPL     914869
AMZN     477187
FB       324398
NVDA     251959
TSLA    2197536
dtype: int64

================================================================================
Descriptive statistics by stock:
================================================================================

================================================================================
Stock: AAPL
================================================================================

================================================================================
Stock: AAPL
================================================================================
Total records: 914,869
Date range: 2020-01-01 00:00:25+00:00 to 2022-02-27 15:17:51+00:00

Key columns summary:
          Unnamed: 0            id
count  914869.000000  9.148690e+05
mean     7454.940278  2.947062e+08
std      4328.251718  7.362931e+07
min         0.000000  1.886133e+08
25%      3694.000000  2.400268e+08
50%      7443.000000  2.735484e+08
75%     11193.000000  3.571643e+08
max     14999.000000  4.397107e+08

================================================================================
Stock: AMZN
================================================================================
Total records: 914,869
Date range: 2020-01-01 00:00:25+00:00 to 2022-02-27 15:17:51+00:00

Key columns summary:
          Unnamed: 0            id
count  914869.000000  9.148690e+05
mean     7454.940278  2.947062e+08
std      4328.251718  7.362931e+07
min         0.000000  1.886133e+08
25%      3694.000000  2.400268e+08
50%      7443.000000  2.735484e+08
75%     11193.000000  3.571643e+08
max     14999.000000  4.397107e+08

================================================================================
Stock: AMZN
================================================================================
Total records: 477,187
Date range: 2020-01-01 00:05:16+00:00 to 2022-03-05 14:16:48+00:00

Key columns summary:
          Unnamed: 0            id
count  477187.000000  4.771870e+05
mean     2990.047543  3.027450e+08
std      1731.634494  7.981667e+07
min         0.000000  1.886136e+08
25%      1491.000000  2.328728e+08
50%      2982.000000  2.830584e+08
75%      4489.000000  3.747159e+08
max      5999.000000  4.415241e+08

================================================================================
Stock: TSLA
================================================================================
Total records: 477,187
Date range: 2020-01-01 00:05:16+00:00 to 2022-03-05 14:16:48+00:00

Key columns summary:
          Unnamed: 0            id
count  477187.000000  4.771870e+05
mean     2990.047543  3.027450e+08
std      1731.634494  7.981667e+07
min         0.000000  1.886136e+08
25%      1491.000000  2.328728e+08
50%      2982.000000  2.830584e+08
75%      4489.000000  3.747159e+08
max      5999.000000  4.415241e+08

================================================================================
Stock: TSLA
================================================================================
Total records: 2,197,536
Date range: 2020-01-01 00:00:40+00:00 to 2022-03-01 01:57:34+00:00

Key columns summary:
Total records: 2,197,536
Date range: 2020-01-01 00:00:40+00:00 to 2022-03-01 01:57:34+00:00

Key columns summary:
         Unnamed: 0            id
count  2.197536e+06  2.197536e+06
mean   7.486411e+03  2.936634e+08
std    4.329819e+03  7.688598e+07
min    0.000000e+00  1.886133e+08
25%    3.737000e+03  2.361209e+08
50%    7.474000e+03  2.701553e+08
75%    1.123600e+04  3.591259e+08
max    1.499900e+04  4.401076e+08

================================================================================
Stock: FB
================================================================================
         Unnamed: 0            id
count  2.197536e+06  2.197536e+06
mean   7.486411e+03  2.936634e+08
std    4.329819e+03  7.688598e+07
min    0.000000e+00  1.886133e+08
25%    3.737000e+03  2.361209e+08
50%    7.474000e+03  2.701553e+08
75%    1.123600e+04  3.591259e+08
max    1.499900e+04  4.401076e+08

================================================================================
Stock: FB
================================================================================
Total records: 324,398
Date range: 2020-01-01 00:25:57+00:00 to 2022-03-05 06:34:16+00:00

Key columns summary:
          Unnamed: 0            id
count  324398.000000  3.243980e+05
mean     7418.267092  3.301023e+08
std      4317.403140  8.812126e+07
min         0.000000  1.886147e+08
25%      3686.000000  2.432278e+08
50%      7372.000000  3.417579e+08
75%     11137.000000  4.220118e+08
max     14999.000000  4.415061e+08

================================================================================
Stock: NVDA
================================================================================
Total records: 324,398
Date range: 2020-01-01 00:25:57+00:00 to 2022-03-05 06:34:16+00:00

Key columns summary:
          Unnamed: 0            id
count  324398.000000  3.243980e+05
mean     7418.267092  3.301023e+08
std      4317.403140  8.812126e+07
min         0.000000  1.886147e+08
25%      3686.000000  2.432278e+08
50%      7372.000000  3.417579e+08
75%     11137.000000  4.220118e+08
max     14999.000000  4.415061e+08

================================================================================
Stock: NVDA
================================================================================
Total records: 251,959
Date range: 2020-01-01 00:37:39+00:00 to 2022-02-28 14:54:52+00:00

Key columns summary:
          Unnamed: 0            id
count  251959.000000  2.519590e+05
mean     7427.270615  3.396631e+08
std      4304.602292  8.086960e+07
min         0.000000  1.886153e+08
25%      3705.000000  2.568196e+08
50%      7410.000000  3.593081e+08
75%     11115.000000  4.112893e+08
max     14999.000000  4.398812e+08
Total records: 251,959
Date range: 2020-01-01 00:37:39+00:00 to 2022-02-28 14:54:52+00:00

Key columns summary:
          Unnamed: 0            id
count  251959.000000  2.519590e+05
mean     7427.270615  3.396631e+08
std      4304.602292  8.086960e+07
min         0.000000  1.886153e+08
25%      3705.000000  2.568196e+08
50%      7410.000000  3.593081e+08
75%     11115.000000  4.112893e+08
max     14999.000000  4.398812e+08

In [213]:
# Filter all stocks to the same date range: 2020-01-01 to 2022-02-26
start_date = pd.to_datetime('2020-01-01 00:00:00+00:00')
end_date = pd.to_datetime('2022-02-26 23:59:59+00:00')

# Filter the data
all_stocks_df_filtered = all_stocks_df[
    (all_stocks_df['created_at'] >= start_date) & 
    (all_stocks_df['created_at'] <= end_date)
].copy()

print("Filtered data to 2020-01-01 to 2022-02-26")
print(f"Original shape: {all_stocks_df.shape}")
print(f"Filtered shape: {all_stocks_df_filtered.shape}")
print(f"\nDate Range: {all_stocks_df_filtered['created_at'].min()} to {all_stocks_df_filtered['created_at'].max()}")
print(f"\nRecords per stock after filtering:")
print(all_stocks_df_filtered.groupby('stock_name').size())

Filtered data to 2020-01-01 to 2022-02-26
Original shape: (4165949, 17)
Filtered shape: (4155893, 17)

Date Range: 2020-01-01 00:00:25+00:00 to 2022-02-26 23:59:00+00:00

Records per stock after filtering:

Date Range: 2020-01-01 00:00:25+00:00 to 2022-02-26 23:59:00+00:00

Records per stock after filtering:
stock_name
AAPL     914778
AMZN     474823
FB       320670
NVDA     251666
TSLA    2193956
dtype: int64
stock_name
AAPL     914778
AMZN     474823
FB       320670
NVDA     251666
TSLA    2193956
dtype: int64

In [214]:
# Update the original dataframe with filtered data
all_stocks_df = all_stocks_df_filtered.copy()

print("Updated all_stocks_df with filtered data")
print(f"Shape: {all_stocks_df.shape}")
print(f"Date range: {all_stocks_df['created_at'].min()} to {all_stocks_df['created_at'].max()}")

Updated all_stocks_df with filtered data
Shape: (4155893, 17)
Date range: 2020-01-01 00:00:25+00:00 to 2022-02-26 23:59:00+00:00

In [215]:
import ast

def extract_sentiment(entities_str):
    """Extract sentiment from entities column"""
    if pd.isna(entities_str):
        return None
    try:
        # Convert string to dict
        entities_dict = ast.literal_eval(str(entities_str))
        if 'sentiment' in entities_dict and entities_dict['sentiment'] is not None:
            if 'basic' in entities_dict['sentiment']:
                return entities_dict['sentiment']['basic']
    except:
        pass
    return None

# Apply sentiment extraction 
print("Extracting sentiments from AAPL data...")
all_stocks_df['sentiment'] = all_stocks_df['entities'].apply(extract_sentiment)



print("\nSentiment distribution in all stocks:")
print(all_stocks_df['sentiment'].value_counts())

Extracting sentiments from AAPL data...

Sentiment distribution in all stocks:
sentiment
Bullish    1617727
Bearish     528069
Name: count, dtype: int64

Sentiment distribution in all stocks:
sentiment
Bullish    1617727
Bearish     528069
Name: count, dtype: int64

In [216]:
all_stocks_df.head()

,Unnamed: 0,id,body,created_at,user,source,symbols,conversation,mentioned_users,entities,likes,reshares,reshare_message,links,stock_name,owned_symbols,structurable,sentiment
0,0,264350906,$AAPL sold my AAPL $124 &quot;yesterday of cou...,2020-12-15 14:40:07+00:00,"{'id': 410481, 'username': 'Navyman', 'name': ...","{'id': 2269, 'title': 'StockTwits Web', 'url':...","[{'id': 686, 'symbol': 'AAPL', 'title': 'Apple...","{'parent_message_id': 264350906, 'in_reply_to_...",[],{'sentiment': None},NaN,NaN,NaN,NaN,AAPL,NaN,NaN,None
1,1,264350850,$AAPL Moving fast early!,2020-12-15 14:40:00+00:00,"{'id': 1563546, 'username': 'Trader_Ty', 'name...","{'id': 2269, 'title': 'StockTwits Web', 'url':...","[{'id': 686, 'symbol': 'AAPL', 'title': 'Apple...",NaN,[],{'sentiment': {'basic': 'Bullish'}},"{'total': 3, 'user_ids': [683907, 3602081, 309...",NaN,NaN,NaN,AAPL,NaN,NaN,Bullish
2,2,264350821,$AAPL if confirms daily can rip,2020-12-15 14:39:57+00:00,"{'id': 24272, 'username': 'danshep55', 'name':...","{'id': 1149, 'title': 'StockTwits for iOS', 'u...","[{'id': 686, 'symbol': 'AAPL', 'title': 'Apple...",NaN,[],{'sentiment': {'basic': 'Bullish'}},NaN,"{'reshared_count': 1, 'user_ids': [184733]}",NaN,NaN,AAPL,NaN,NaN,Bullish
3,3,264350809,$AAPL patience pays off,2020-12-15 14:39:55+00:00,"{'id': 763412, 'username': 'zeketrades_', 'nam...","{'id': 1149, 'title': 'StockTwits for iOS', 'u...","[{'id': 686, 'symbol': 'AAPL', 'title': 'Apple...",NaN,[],{'sentiment': None},"{'total': 2, 'user_ids': [1703700, 617630]}",NaN,NaN,NaN,AAPL,NaN,NaN,None
4,4,264350762,"2020-12-15 14:39:50+00:00 $AAPL, $CMCSA, $SWKS...",2020-12-15 14:39:50+00:00,"{'id': 1511377, 'username': 'YuMiStocks_Trade'...","{'id': 5846, 'title': 'ConfluxBot', 'url': 'ht...","[{'id': 686, 'symbol': 'AAPL', 'title': 'Apple...",NaN,[],{'sentiment': None},"{'total': 1, 'user_ids': [4252585]}",NaN,NaN,NaN,AAPL,NaN,NaN,None

In [217]:
# Convert created_at to datetime
all_stocks_df['created_at'] = pd.to_datetime(all_stocks_df['created_at'])

# Extract date from created_at
all_stocks_df['date'] = all_stocks_df['created_at'].dt.date

# Group by both date and stock_name to calculate sentiment counts
all_stock_sentiment_daily = all_stocks_df.groupby(['date', 'stock_name'])['sentiment'].value_counts().unstack(fill_value=0)

# Calculate net sentiment
if 'Bullish' in all_stock_sentiment_daily.columns and 'Bearish' in all_stock_sentiment_daily.columns:
    all_stock_sentiment_daily['net_sentiment'] = (all_stock_sentiment_daily['Bullish'] - all_stock_sentiment_daily['Bearish']) / \
                                             (all_stock_sentiment_daily['Bullish'] + all_stock_sentiment_daily['Bearish'])
else:
    all_stock_sentiment_daily['net_sentiment'] = 0

# Keep only net_sentiment column and reset index to make date and stock_name columns
stock_net_sentiment = all_stock_sentiment_daily[['net_sentiment']].reset_index()

print("Net Sentiment by Date and Stock:")
print(stock_net_sentiment.head(10))
print(f"\nShape: {stock_net_sentiment.shape}")
print(f"\nStocks included: {stock_net_sentiment['stock_name'].unique()}")
print(f"\nRecords per stock:")
print(stock_net_sentiment['stock_name'].value_counts())

Net Sentiment by Date and Stock:
sentiment        date stock_name  net_sentiment
0          2020-01-01       AAPL       0.560976
1          2020-01-01       AMZN       0.956522
2          2020-01-01         FB       0.785714
3          2020-01-01       NVDA       1.000000
4          2020-01-01       TSLA       0.466667
5          2020-01-02       AAPL       0.688889
6          2020-01-02       AMZN       0.934664
7          2020-01-02         FB       0.941748
8          2020-01-02       NVDA       1.000000
9          2020-01-02       TSLA       0.622887

Shape: (3940, 3)

Stocks included: ['AAPL' 'AMZN' 'FB' 'NVDA' 'TSLA']

Records per stock:
stock_name
AAPL    788
AMZN    788
FB      788
NVDA    788
TSLA    788
Name: count, dtype: int64

In [218]:
# Prepare all stock price data
cols_to_keep = ['Date', 'Stock_name', 'Open', 'High', 'Low', 'Close', 'Volume']
rename_dict = {'Date': 'date', 'Stock_name': 'stock_name'}

# Combine all stock prices
all_prices = pd.concat([
    amzn_ready[cols_to_keep].rename(columns=rename_dict),
    aapl_ready[cols_to_keep].rename(columns=rename_dict),
    tsla_ready[cols_to_keep].rename(columns=rename_dict),
    meta_ready[cols_to_keep].rename(columns=rename_dict),
    nvda_ready[cols_to_keep].rename(columns=rename_dict)
], ignore_index=True)

# Convert date columns to datetime
all_prices['date'] = pd.to_datetime(all_prices['date'])
stock_net_sentiment['date'] = pd.to_datetime(stock_net_sentiment['date'])

# Merge all data
merged_df = stock_net_sentiment.merge(sofr_ready, on='date', how='left') \
    .merge(news_ready, on=['date', 'stock_name'], how='left') \
    .merge(unemployment_ready, on='date', how='left') \
    .merge(fed_ready, on='date', how='left') \
    .merge(risk_ready, on='date', how='left') \
    .merge(all_prices, on=['date', 'stock_name'], how='left')

print(f"Merged data shape: {merged_df.shape}")
print(f"\nStocks in merged data:")
print(merged_df['stock_name'].value_counts())

Merged data shape: (3960, 14)

Stocks in merged data:
stock_name
AAPL    798
NVDA    797
TSLA    789
AMZN    788
FB      788
Name: count, dtype: int64

In [219]:
merged_df.head()

,date,stock_name,net_sentiment,sofr_rate,NewsCount,NewsTone,unemployment,Fed_Rate,RiskAppetite,Open,High,Low,Close,Volume
0,2020-01-01,AAPL,0.560976,NaN,268,0.003521,5869.0,1.75,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-01-01,AMZN,0.956522,NaN,240,-0.016863,5869.0,1.75,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-01,FB,0.785714,NaN,2572,-0.011213,5869.0,1.75,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-01-01,NVDA,1.000000,NaN,16,-0.010415,5869.0,1.75,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-01-01,TSLA,0.466667,NaN,276,-0.024558,5869.0,1.75,NaN,NaN,NaN,NaN,NaN,NaN

In [220]:
# Forward fill macro variables (they don't change daily)
merged_df['Fed_Rate'] = merged_df['Fed_Rate'].ffill()
merged_df['sofr_rate'] = merged_df['sofr_rate'].ffill()
merged_df['unemployment'] = merged_df['unemployment'].ffill()
merged_df['RiskAppetite'] = merged_df['RiskAppetite'].ffill()

print("Filled missing macro variables")
print(f"Remaining NaN in sofr_rate: {merged_df['sofr_rate'].isna().sum()}")
print(f"Remaining NaN in RiskAppetite: {merged_df['RiskAppetite'].isna().sum()}")

Filled missing macro variables
Remaining NaN in sofr_rate: 5
Remaining NaN in RiskAppetite: 5

In [221]:
# Use backward fill for the first few rows
merged_df['sofr_rate'] = merged_df['sofr_rate'].bfill()
merged_df['RiskAppetite'] = merged_df['RiskAppetite'].bfill()

print("After backward fill:")
print(f"Remaining NaN in sofr_rate: {merged_df['sofr_rate'].isna().sum()}")
print(f"Remaining NaN in RiskAppetite: {merged_df['RiskAppetite'].isna().sum()}")

# Check the first few rows
print("\nFirst 10 rows after filling:")
merged_df.head(10)

After backward fill:
Remaining NaN in sofr_rate: 0
Remaining NaN in RiskAppetite: 0

First 10 rows after filling:

,date,stock_name,net_sentiment,sofr_rate,NewsCount,NewsTone,unemployment,Fed_Rate,RiskAppetite,Open,High,Low,Close,Volume
0,2020-01-01,AAPL,0.560976,1.54,268,0.003521,5869.0,1.75,0.1534,NaN,NaN,NaN,NaN,NaN
1,2020-01-01,AMZN,0.956522,1.54,240,-0.016863,5869.0,1.75,0.1534,NaN,NaN,NaN,NaN,NaN
2,2020-01-01,FB,0.785714,1.54,2572,-0.011213,5869.0,1.75,0.1534,NaN,NaN,NaN,NaN,NaN
3,2020-01-01,NVDA,1.000000,1.54,16,-0.010415,5869.0,1.75,0.1534,NaN,NaN,NaN,NaN,NaN
4,2020-01-01,TSLA,0.466667,1.54,276,-0.024558,5869.0,1.75,0.1534,NaN,NaN,NaN,NaN,NaN
5,2020-01-02,AAPL,0.688889,1.54,513,0.006356,5869.0,1.75,0.1534,74.06,75.15,73.80,75.09,135480400.0
6,2020-01-02,AMZN,0.934664,1.54,484,-0.005955,5869.0,1.75,0.1534,93.75,94.90,93.21,94.90,80580000.0
7,2020-01-02,FB,0.941748,1.54,3709,-0.010479,5869.0,1.75,0.1534,206.75,209.79,206.27,209.78,12077100.0
8,2020-01-02,NVDA,1.000000,1.54,18,0.001846,5869.0,1.75,0.1534,5.97,6.00,5.92,6.00,237536000.0
9,2020-01-02,TSLA,0.622887,1.54,384,-0.015637,5869.0,1.75,0.1534,28.3,28.71,28.11,28.68,142981500.0

In [222]:
# Add FOMC dummy variable
# FOMC = 1 if the date is an FOMC meeting date (or day 2), 0 otherwise
merged_df['FOMC'] = merged_df['date'].isin(fomc_date_set).astype(int)

print(f"FOMC dummy variable added")
print(f"Total FOMC meeting days in dataset: {merged_df['FOMC'].sum()}")
print(f"\nFOMC distribution:")
print(merged_df['FOMC'].value_counts())

# Show some FOMC dates
print(f"\nSample of FOMC meeting dates in the data:")
fomc_rows = merged_df[merged_df['FOMC'] == 1][['date', 'stock_name', 'FOMC']].drop_duplicates(subset='date').head(10)
print(fomc_rows)

FOMC dummy variable added
Total FOMC meeting days in dataset: 160

FOMC distribution:
FOMC
0    3800
1     160
Name: count, dtype: int64

Sample of FOMC meeting dates in the data:
           date stock_name  FOMC
135  2020-01-28       AAPL     1
140  2020-01-29       AAPL     1
592  2020-04-28       AAPL     1
597  2020-04-29       AAPL     1
804  2020-06-09       AAPL     1
809  2020-06-10       AAPL     1
1049 2020-07-28       AAPL     1
1054 2020-07-29       AAPL     1
1298 2020-09-15       AAPL     1
1303 2020-09-16       AAPL     1

In [223]:
# Check NaN distribution in price columns
print("NaN count in price-related columns:")
print("="*60)
price_cols = ['Open', 'High', 'Low', 'Close', 'Volume']
for col in price_cols:
    nan_count = merged_df[col].isna().sum()
    total = len(merged_df)
    pct = (nan_count / total) * 100
    print(f"{col:10s}: {nan_count:4d} / {total} ({pct:.2f}%)")

print("\n" + "="*60)
print("NaN distribution by stock:")
print("="*60)
for stock in merged_df['stock_name'].unique():
    stock_data = merged_df[merged_df['stock_name'] == stock]
    nan_count = stock_data['Close'].isna().sum()
    total = len(stock_data)
    pct = (nan_count / total) * 100
    print(f"{stock:5s}: {nan_count:3d} / {total:4d} ({pct:.2f}%) rows with NaN in Close price")

print("\n" + "="*60)
print("Sample of rows with NaN in Close price:")
print("="*60)
print(merged_df[merged_df['Close'].isna()][['date', 'stock_name', 'Open', 'Close', 'Volume']].head(20))

NaN count in price-related columns:
============================================================
Open      : 1225 / 3960 (30.93%)
High      : 1245 / 3960 (31.44%)
Low       : 1245 / 3960 (31.44%)
Close     : 1245 / 3960 (31.44%)
Volume    : 1245 / 3960 (31.44%)

============================================================
NaN distribution by stock:
============================================================
AAPL : 255 /  798 (31.95%) rows with NaN in Close price
AMZN : 245 /  788 (31.09%) rows with NaN in Close price
FB   : 245 /  788 (31.09%) rows with NaN in Close price
NVDA : 254 /  797 (31.87%) rows with NaN in Close price
TSLA : 246 /  789 (31.18%) rows with NaN in Close price

============================================================
Sample of rows with NaN in Close price:
============================================================
         date stock_name Open  Close  Volume
0  2020-01-01       AAPL  NaN    NaN     NaN
1  2020-01-01       AMZN  NaN    NaN     NaN
2  2020-01-01         FB  NaN    NaN     NaN
3  2020-01-01       NVDA  NaN    NaN     NaN
4  2020-01-01       TSLA  NaN    NaN     NaN
15 2020-01-04       AAPL  NaN    NaN     NaN
16 2020-01-04       AMZN  NaN    NaN     NaN
17 2020-01-04         FB  NaN    NaN     NaN
18 2020-01-04       NVDA  NaN    NaN     NaN
19 2020-01-04       TSLA  NaN    NaN     NaN
20 2020-01-05       AAPL  NaN    NaN     NaN
21 2020-01-05       AMZN  NaN    NaN     NaN
22 2020-01-05         FB  NaN    NaN     NaN
23 2020-01-05       NVDA  NaN    NaN     NaN
24 2020-01-05       TSLA  NaN    NaN     NaN
50 2020-01-11       AAPL  NaN    NaN     NaN
51 2020-01-11       AMZN  NaN    NaN     NaN
52 2020-01-11         FB  NaN    NaN     NaN
53 2020-01-11       NVDA  NaN    NaN     NaN
54 2020-01-11       TSLA  NaN    NaN     NaN
AAPL : 255 /  798 (31.95%) rows with NaN in Close price
AMZN : 245 /  788 (31.09%) rows with NaN in Close price
FB   : 245 /  788 (31.09%) rows with NaN in Close price
NVDA : 254 /  797 (31.87%) rows with NaN in Close price
TSLA : 246 /  789 (31.18%) rows with NaN in Close price

============================================================
Sample of rows with NaN in Close price:
============================================================
         date stock_name Open  Close  Volume
0  2020-01-01       AAPL  NaN    NaN     NaN
1  2020-01-01       AMZN  NaN    NaN     NaN
2  2020-01-01         FB  NaN    NaN     NaN
3  2020-01-01       NVDA  NaN    NaN     NaN
4  2020-01-01       TSLA  NaN    NaN     NaN
15 2020-01-04       AAPL  NaN    NaN     NaN
16 2020-01-04       AMZN  NaN    NaN     NaN
17 2020-01-04         FB  NaN    NaN     NaN
18 2020-01-04       NVDA  NaN    NaN     NaN
19 2020-01-04       TSLA  NaN    NaN     NaN
20 2020-01-05       AAPL  NaN    NaN     NaN
21 2020-01-05       AMZN  NaN    NaN     NaN
22 2020-01-05         FB  NaN    NaN     NaN
23 2020-01-05       NVDA  NaN    NaN     NaN
24 2020-01-05       TSLA  NaN    NaN     NaN
50 2020-01-11       AAPL  NaN    NaN     NaN
51 2020-01-11       AMZN  NaN    NaN     NaN
52 2020-01-11         FB  NaN    NaN     NaN
53 2020-01-11       NVDA  NaN    NaN     NaN
54 2020-01-11       TSLA  NaN    NaN     NaN

In [224]:
import pandas as pd
import numpy as np

df = merged_df.copy()


# 2. Time series basic processing
# Convert to datetime and sort (critical for ffill and shift operations)
df['date'] = pd.to_datetime(df['date'])
df = df.sort_values(by=['stock_name', 'date'])

# 3. Fill missing macro data
# Logic: Macro variables (unemployment/interest rates) don't change daily, use forward fill
# macro_cols = ['unemployment', 'sofr_rate', 'RiskAppetite', 'Fed_Rate']
# df[macro_cols] = df[macro_cols].ffill().bfill()

# ==============================================================================
# 4. [KEY FIX] Clean data types and remove non-trading days first
# ==============================================================================

# A. Force conversion to numeric (handle possible strings or commas)
cols_to_numeric = ['Open', 'High', 'Low', 'Close', 'Volume', 'NewsCount', 'net_sentiment']
for col in cols_to_numeric:
    # errors='coerce' converts invalid values to NaN
    df[col] = pd.to_numeric(df[col], errors='coerce')

# B. [CORE FIX] Remove weekends and holidays (rows with missing Volume or Close_Price)
# This MUST happen before calculating returns and lags!
# This way, "Monday's" previous row is "Friday", so Log_Return won't be NaN
df = df.dropna(subset=['Volume', 'Close', 'Open', 'High', 'Low'])

# ==============================================================================
# 5. Feature Engineering - shift(1) now represents "previous trading day"
# ==============================================================================

# A. Trading volume (Log Volume) - Dependent variable
df['Log_Volume'] = np.log(df['Volume'] + 1)

# B. Volatility indicator (Intraday Volatility)
# Logic: (High - Low) / Open
df['Intraday_Range'] = (df['High'] - df['Low']) / (df['Open'] + 1e-8)

# C. Stock return (Log Return)
# Logic: ln(today's close / previous trading day's close)
# Note: Use shift() directly since weekends have been removed
df['Close_Lag1'] = df.groupby('stock_name')['Close'].shift(1)
df['Log_Return'] = np.log(df['Close'] / df['Close_Lag1'])

# D. Attention/Buzz (Log Buzz)
df['Log_Buzz'] = np.log(df['NewsCount'] + 1)

# ==============================================================================
# 6. Lagging Operations - Predictor variables
# ==============================================================================

# 1. Yesterday's sentiment -> predict today's volume
df['Sentiment_Lag1'] = df.groupby('stock_name')['net_sentiment'].shift(1)

# 2. Yesterday's buzz -> predict today's volume
df['Log_Buzz_Lag1']  = df.groupby('stock_name')['Log_Buzz'].shift(1)

# 3. Yesterday's volatility -> predict today's volume
df['Volatility_Lag1'] = df.groupby('stock_name')['Intraday_Range'].shift(1)

# 4. Yesterday's absolute return -> predict today's volume
df['Return_Abs_Lag1'] = df.groupby('stock_name')['Log_Return'].shift(1).abs()

# ==============================================================================
# 7. Final cleanup and indexing
# ==============================================================================

# Remove first row for each stock due to lag calculations
df_final = df.dropna(subset=['Sentiment_Lag1', 'Volatility_Lag1', 'Return_Abs_Lag1'])

# Set panel index
df_final = df_final.set_index(['stock_name', 'date'])

# Check results
print("Data cleaning completed.")
print(f"Final dimensions: {df_final.shape}")
print(f"\nKey columns preview (Check if Monday has data):")
# Check if Log_Return has NaN values
print(df_final[['Log_Volume', 'Log_Return', 'Return_Abs_Lag1', 'Volatility_Lag1']].head(10))

Data cleaning completed.
Final dimensions: (2705, 22)

Key columns preview (Check if Monday has data):
                       Log_Volume  Log_Return  Return_Abs_Lag1  \
stock_name date
AAPL       2020-01-06   18.589471    0.007903         0.009769
           2020-01-07   18.505683   -0.004681         0.007903
           2020-01-08   18.698912    0.015958         0.004681
           2020-01-09   18.951946    0.021018         0.015958
           2020-01-10   18.761748    0.002194         0.021018
           2020-01-13   18.615688    0.021172         0.002194
           2020-01-14   18.902825   -0.013595         0.021172
           2020-01-15   18.618905   -0.004359         0.013595
           2020-01-16   18.505290    0.012513         0.004359
           2020-01-17   18.741433    0.010979         0.012513

                       Volatility_Lag1
stock_name date
AAPL       2020-01-06         0.013595
           2020-01-07         0.024506
           2020-01-08         0.011339
           2020-01-09         0.024499
           2020-01-10         0.013800
           2020-01-13         0.014295
           2020-01-14         0.018996
           2020-01-15         0.017050
           2020-01-16         0.019112
           2020-01-17         0.011607

In [225]:
df_final.head(20)

                       net_sentiment  sofr_rate  NewsCount  NewsTone  \
stock_name date
AAPL       2020-01-06       0.400531       1.55        539  0.007840
           2020-01-07       0.297158       1.56        497  0.001657
           2020-01-08       0.598662       1.55        776 -0.001556
           2020-01-09       0.629080       1.55        675 -0.000771
           2020-01-10       0.449378       1.55        563 -0.001866
           2020-01-13       0.564202       1.54        659 -0.002693
           2020-01-14       0.378582       1.55        843 -0.009979
           2020-01-15       0.326087       1.56       1074 -0.016315
           2020-01-16       0.467085       1.55        925 -0.002942
           2020-01-17       0.673820       1.54        886 -0.000481
           2020-01-21       0.604396       1.54        768 -0.004543
           2020-01-22       0.724928       1.54        995 -0.005106
           2020-01-23       0.722846       1.54        914 -0.006753
           2020-01-24       0.468822       1.53        837 -0.007355
           2020-01-27       0.465385       1.53        654 -0.000321
           2020-01-28       0.477644       1.53       1223 -0.002085
           2020-01-29       0.544103       1.53       1969  0.001664
           2020-01-30       0.367483       1.58       1416 -0.004703
           2020-01-31       0.206107       1.60        870 -0.001943
           2020-02-03       0.151408       1.59        762 -0.005529

                       unemployment  Fed_Rate  RiskAppetite   Open   High  \
stock_name date
AAPL       2020-01-06        5869.0      1.75        0.1534  73.45  74.99
           2020-01-07        5869.0      1.75        0.1534  74.96  75.22
           2020-01-08        5869.0      1.75        0.1534  74.29  76.11
           2020-01-09        5869.0      1.75        0.0318  76.81  77.61
           2020-01-10        5869.0      1.75        0.0318  77.65  78.17
           2020-01-13        5869.0      1.75        0.0318  77.91  79.27
           2020-01-14        5869.0      1.75        0.0318  79.18  79.39
           2020-01-15        5869.0      1.75        0.0318  77.96  78.88
           2020-01-16        5869.0      1.75        0.1432  78.40  78.93
           2020-01-17        5869.0      1.75        0.1432  79.07  79.68
           2020-01-21        5869.0      1.75        0.1432  79.30  79.75
           2020-01-22        5869.0      1.75        0.1432  79.64  80.00
           2020-01-23        5869.0      1.75        0.2083  79.48  79.89
           2020-01-24        5869.0      1.75        0.2083  80.06  80.83
           2020-01-27        5869.0      1.75        0.2083  77.51  77.94
           2020-01-28        5869.0      1.75        0.2083  78.15  79.60
           2020-01-29        5869.0      1.75        0.2083  81.11  81.96
           2020-01-30        5869.0      1.75       -0.0488  80.14  81.02
           2020-01-31        5869.0      1.75       -0.0488  80.23  80.67
           2020-02-03        5753.0      1.75       -0.0488  76.07  78.37

                         Low  ...  FOMC  Log_Volume  Intraday_Range  \
stock_name date               ...
AAPL       2020-01-06  73.19  ...     0   18.589471        0.024506
           2020-01-07  74.37  ...     0   18.505683        0.011339
           2020-01-08  74.29  ...     0   18.698912        0.024499
           2020-01-09  76.55  ...     0   18.951946        0.013800
           2020-01-10  77.06  ...     0   18.761748        0.014295
           2020-01-13  77.79  ...     0   18.615688        0.018996
           2020-01-14  78.04  ...     0   18.902825        0.017050
           2020-01-15  77.39  ...     0   18.618905        0.019112
           2020-01-16  78.02  ...     0   18.505290        0.011607
           2020-01-17  78.75  ...     0   18.741433        0.011762
           2020-01-21  79.00  ...     0   18.523627        0.009458
           2020-01-22  79.33  ...     0   18.438839        0.008413
           2020-01-23  78.91  ...     0   18.464430        0.012330
           2020-01-24  79.38  ...     0   18.802793        0.018111
           2020-01-27  76.22  ...     0   18.902736        0.022191
           2020-01-28  78.05  ...     1   18.904550        0.019834
           2020-01-29  80.35  ...     1   19.191850        0.019850
           2020-01-30  79.69  ...     0   18.657674        0.016596
           2020-01-31  77.07  ...     0   19.111768        0.044871
           2020-02-03  75.56  ...     0   18.973349        0.036940

                       Close_Lag1  Log_Return  Log_Buzz  Sentiment_Lag1  \
stock_name date
AAPL       2020-01-06       74.36    0.007903  6.291569        0.283163
           2020-01-07       74.95   -0.004681  6.210600        0.400531
           2020-01-08       74.60    0.015958  6.655440        0.297158
           2020-01-09       75.80    0.021018  6.516193        0.598662
           2020-01-10       77.41    0.002194  6.335054        0.629080
           2020-01-13       77.58    0.021172  6.492240        0.449378
           2020-01-14       79.24   -0.013595  6.738152        0.564202
           2020-01-15       78.17   -0.004359  6.980076        0.378582
           2020-01-16       77.83    0.012513  6.830874        0.326087
           2020-01-17       78.81    0.010979  6.787845        0.467085
           2020-01-21       79.68   -0.006800  6.645091        0.673820
           2020-01-22       79.14    0.003658  6.903747        0.604396
           2020-01-23       79.43    0.004773  6.818924        0.724928
           2020-01-24       79.81   -0.002886  6.731018        0.722846
           2020-01-27       79.58   -0.029845  6.484635        0.468822
           2020-01-28       77.24    0.027833  7.109879        0.465385
           2020-01-29       79.42    0.020686  7.585789        0.477644
           2020-01-30       81.08   -0.001358  7.256297        0.544103
           2020-01-31       80.97   -0.045350  6.769642        0.367483
           2020-02-03       77.38   -0.002718  6.637258        0.206107

                       Log_Buzz_Lag1  Volatility_Lag1  Return_Abs_Lag1
stock_name date
AAPL       2020-01-06       6.598509         0.013595         0.009769
           2020-01-07       6.291569         0.024506         0.007903
           2020-01-08       6.210600         0.011339         0.004681
           2020-01-09       6.655440         0.024499         0.015958
           2020-01-10       6.516193         0.013800         0.021018
           2020-01-13       6.335054         0.014295         0.002194
           2020-01-14       6.492240         0.018996         0.021172
           2020-01-15       6.738152         0.017050         0.013595
           2020-01-16       6.980076         0.019112         0.004359
           2020-01-17       6.830874         0.011607         0.012513
           2020-01-21       6.787845         0.011762         0.010979
           2020-01-22       6.645091         0.009458         0.006800
           2020-01-23       6.903747         0.008413         0.003658
           2020-01-24       6.818924         0.012330         0.004773
           2020-01-27       6.731018         0.018111         0.002886
           2020-01-28       6.484635         0.022191         0.029845
           2020-01-29       7.109879         0.019834         0.027833
           2020-01-30       7.585789         0.019850         0.020686
           2020-01-31       7.256297         0.016596         0.001358
           2020-02-03       6.769642         0.044871         0.045350

[20 rows x 22 columns]

In [226]:
# Check data distribution by stock
print("="*80)
print("Data Distribution by Stock")
print("="*80)

# Reset index temporarily to access stock_name column
df_temp = df_final.reset_index()

# 1. Number of observations per stock
print("\n1. Number of observations per stock:")
print("-"*60)
stock_counts = df_temp['stock_name'].value_counts().sort_index()
print(stock_counts)
print(f"\nTotal observations: {len(df_temp)}")

# 2. Date range for each stock
print("\n" + "="*80)
print("2. Date range for each stock:")
print("-"*60)
for stock in sorted(df_temp['stock_name'].unique()):
    stock_data = df_temp[df_temp['stock_name'] == stock]
    print(f"{stock:5s}: {stock_data['date'].min().date()} to {stock_data['date'].max().date()} ({len(stock_data)} trading days)")

# 3. Descriptive statistics for key variables by stock
print("\n" + "="*80)
print("3. Descriptive Statistics by Stock:")
print("="*80)

key_vars = ['Log_Volume', 'net_sentiment', 'Log_Return', 'Intraday_Range', 'NewsCount']

for stock in sorted(df_temp['stock_name'].unique()):
    print(f"\n{'='*80}")
    print(f"Stock: {stock}")
    print(f"{'='*80}")
    stock_data = df_temp[df_temp['stock_name'] == stock]
    print(stock_data[key_vars].describe().round(4))

# 4. Check for missing values by stock
print("\n" + "="*80)
print("4. Missing values by stock:")
print("-"*60)
for stock in sorted(df_temp['stock_name'].unique()):
    stock_data = df_temp[df_temp['stock_name'] == stock]
    missing = stock_data.isnull().sum()
    if missing.sum() > 0:
        print(f"\n{stock}:")
        print(missing[missing > 0])
    else:
        print(f"{stock}: No missing values")

# 5. Quick summary comparison
print("\n" + "="*80)
print("5. Quick Summary Comparison:")
print("="*80)
summary_stats = df_temp.groupby('stock_name')[['Log_Volume', 'net_sentiment', 'Log_Return', 'NewsCount']].agg(['mean', 'std', 'min', 'max'])
print(summary_stats.round(4))

================================================================================
Data Distribution by Stock
================================================================================

1. Number of observations per stock:
------------------------------------------------------------
stock_name
AAPL    541
AMZN    541
FB      541
NVDA    541
TSLA    541
Name: count, dtype: int64

Total observations: 2705

================================================================================
2. Date range for each stock:
------------------------------------------------------------
AAPL : 2020-01-06 to 2022-02-25 (541 trading days)
AMZN : 2020-01-06 to 2022-02-25 (541 trading days)
FB   : 2020-01-06 to 2022-02-25 (541 trading days)
NVDA : 2020-01-06 to 2022-02-25 (541 trading days)
TSLA : 2020-01-06 to 2022-02-25 (541 trading days)

================================================================================
3. Descriptive Statistics by Stock:
================================================================================

================================================================================
Stock: AAPL
================================================================================
       Log_Volume  net_sentiment  Log_Return  Intraday_Range  NewsCount
count    541.0000       541.0000    541.0000        541.0000   541.0000
mean      18.5197         0.4797      0.0015          0.0250   821.5749
std        0.4313         0.2855      0.0233          0.0146   379.5345
min       17.5291        -0.4370     -0.1377          0.0076    72.0000
25%       18.2082         0.3070     -0.0091          0.0152   600.0000
50%       18.4755         0.5357      0.0010          0.0209   737.0000
75%       18.7849         0.7016      0.0140          0.0303   920.0000
max       19.8711         0.9325      0.1131          0.1067  3910.0000

================================================================================
Stock: AMZN
================================================================================
       Log_Volume  net_sentiment  Log_Return  Intraday_Range  NewsCount
count    541.0000       541.0000    541.0000        541.0000   541.0000
mean      18.1585         0.6077      0.0009          0.0249   705.0702
std        0.3838         0.2001      0.0214          0.0134   316.9192
min       17.1841        -0.2105     -0.0825          0.0066    55.0000
25%       17.8859         0.4941     -0.0100          0.0155   525.0000
50%       18.1059         0.6527      0.0013          0.0216   652.0000
75%       18.4079         0.7531      0.0116          0.0306   813.0000
max       19.5564         0.9374      0.1269          0.0950  3571.0000

================================================================================
Stock: FB
================================================================================
       Log_Volume  net_sentiment  Log_Return  Intraday_Range   NewsCount
count    541.0000       541.0000    541.0000        541.0000    541.0000
mean      16.7962         0.5502      0.0000          0.0285   4540.3734
std        0.4439         0.2342      0.0278          0.0146   1093.1886
min       15.7179        -0.3768     -0.3064          0.0066    469.0000
25%       16.4961         0.4119     -0.0122          0.0187   4035.0000
50%       16.7474         0.5890      0.0010          0.0252   4555.0000
75%       17.0374         0.7282      0.0144          0.0357   5002.0000
max       19.0526         1.0000      0.0974          0.1052  12998.0000

================================================================================
Stock: NVDA
================================================================================
       Log_Volume  net_sentiment  Log_Return  Intraday_Range  NewsCount
count    541.0000       541.0000    541.0000        541.0000   541.0000
mean      19.7689         0.6700      0.0026          0.0385    69.0092
std        0.4685         0.2231      0.0333          0.0221    57.2829
min       18.3993        -0.5307     -0.2038          0.0097     7.0000
25%       19.4145         0.5741     -0.0128          0.0227    41.0000
50%       19.7410         0.7239      0.0031          0.0333    54.0000
75%       20.1265         0.8214      0.0223          0.0468    78.0000
max       21.1042         1.0000      0.1579          0.1557   860.0000

================================================================================
Stock: TSLA
================================================================================
       Log_Volume  net_sentiment  Log_Return  Intraday_Range  NewsCount
count    541.0000       541.0000    541.0000        541.0000   541.0000
mean      18.5959         0.4766      0.0041          0.0519   326.0425
std        0.6537         0.2389      0.0469          0.0315   211.7322
min       17.1966        -0.5885     -0.2365          0.0085    33.0000
25%       18.0805         0.3676     -0.0198          0.0304   195.0000
50%       18.4692         0.5274      0.0026          0.0437   266.0000
75%       19.1201         0.6416      0.0263          0.0630   390.0000
max       20.6334         0.8738      0.1815          0.2494  1697.0000

================================================================================
4. Missing values by stock:
------------------------------------------------------------
AAPL: No missing values
AMZN: No missing values
FB: No missing values
NVDA: No missing values
TSLA: No missing values

================================================================================
5. Quick Summary Comparison:
================================================================================
           Log_Volume                           net_sentiment                  \
                 mean     std      min      max          mean     std     min
stock_name
AAPL          18.5197  0.4313  17.5291  19.8711        0.4797  0.2855 -0.4370
AMZN          18.1585  0.3838  17.1841  19.5564        0.6077  0.2001 -0.2105
FB            16.7962  0.4439  15.7179  19.0526        0.5502  0.2342 -0.3768
NVDA          19.7689  0.4685  18.3993  21.1042        0.6700  0.2231 -0.5307
TSLA          18.5959  0.6537  17.1966  20.6334        0.4766  0.2389 -0.5885

                   Log_Return                          NewsCount             \
               max       mean     std     min     max       mean        std
stock_name
AAPL        0.9325     0.0015  0.0233 -0.1377  0.1131   821.5749   379.5345
AMZN        0.9374     0.0009  0.0214 -0.0825  0.1269   705.0702   316.9192
FB          1.0000     0.0000  0.0278 -0.3064  0.0974  4540.3734  1093.1886
NVDA        1.0000     0.0026  0.0333 -0.2038  0.1579    69.0092    57.2829
TSLA        0.8738     0.0041  0.0469 -0.2365  0.1815   326.0425   211.7322


            min    max
stock_name
AAPL         72   3910
AMZN         55   3571
FB          469  12998
NVDA          7    860
TSLA         33   1697

In [227]:
df_final.to_csv('final_merged_data.csv')